In [1]:
import pandas as pd
import numpy as np

# Load CSV as Data Frame
btc_df = pd.read_csv('/Users/troy/Github/courses/crypto-pirates/cryptocurrencypricehistory/bitcoin_price.csv')
# Create new column called Daily range
btc_df['Daily Range'] = btc_df['High'] - btc_df['Low']
# take the first day of the dataset
btc_df['Date'].min()

'1-Apr-14'

In [2]:
# show the price and date of the first day of the dataset
btc_df[['Date','High']].min()

Date    1-Apr-14
High       74.56
dtype: object

In [3]:
# show the price and date of the last day of the dataset
btc_df[['Date']].max()

Date    9-Sep-17
dtype: object

# Volume Operations

In [4]:
'''
Volume is an object instead of int for some reason. Find missing data. Maybe it's Replaceable? Can we drop it?
Same Issue with Market Cap!
'''
cond = btc_df['Volume'] == '-'
result = btc_df[cond]
result[['Date', 'Volume']]
result.reset_index()

,index,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range
0,0,28-Apr-13,135.30,135.98,132.10,134.21,-,"1,500,520,000",3.88
1,1,29-Apr-13,134.44,147.49,134.00,144.54,-,"1,491,160,000",13.49
2,2,30-Apr-13,144.00,146.93,134.05,139.00,-,"1,597,780,000",12.88
3,3,1-May-13,139.00,139.89,107.72,116.99,-,"1,542,820,000",32.17
4,4,2-May-13,116.38,125.60,92.28,105.21,-,"1,292,190,000",33.32
5,5,3-May-13,106.25,108.13,79.10,97.75,-,"1,180,070,000",29.03
6,6,4-May-13,98.10,115.00,92.50,112.50,-,"1,089,890,000",22.50
7,7,5-May-13,112.90,118.80,107.14,115.91,-,"1,254,760,000",11.66
8,8,6-May-13,115.98,124.66,106.64,112.30,-,"1,289,470,000",18.02
9,9,7-May-13,112.25,113.44,97.70,111.50,-,"1,248,470,000",15.74
10,10,8-May-13,109.60,115.78,109.60,113.57,-,"1,219,450,000",6.18
11,11,9-May-13,113.20,113.46,109.26,112.67,-,"1,259,980,000",4.20
12,12,10-May-13,112.80,122.00,111.55,117.20,-,"1,255,970,000",10.45
13,13,11-May-13,117.70,118.68,113.01,115.24,-,"1,311,050,000",5.67
14,14,12-May-13,115.64,117.45,113.44,115.00,-,"1,288,630,000",4.01
15,15,13-May-13,114.82,118.70,114.50,117.98,-,"1,279,980,000",4.20
16,16,14-May-13,117.98,119.80,110.25,111.50,-,"1,315,720,000",9.55
17,17,15-May-13,111.40,115.81,103.50,114.22,-,"1,242,760,000",12.31
18,18,16-May-13,114.22,118.76,112.20,118.76,-,"1,274,620,000",6.56
19,19,17-May-13,118.21,125.30,116.57,123.02,-,"1,319,590,000",8.73
20,20,18-May-13,123.50,125.25,122.30,123.50,-,"1,379,140,000",2.95
21,21,19-May-13,123.21,124.50,119.57,121.99,-,"1,376,370,000",4.93
22,22,20-May-13,122.50,123.62,120.12,122.00,-,"1,368,910,000",3.50
23,23,21-May-13,122.02,123.00,121.21,122.88,-,"1,363,940,000",1.79
24,24,22-May-13,122.89,124.00,122.00,123.89,-,"1,374,130,000",2.00
25,25,23-May-13,123.80,126.93,123.10,126.70,-,"1,384,780,000",3.83
26,26,24-May-13,126.30,133.85,125.72,133.20,-,"1,413,300,000",8.13
27,27,25-May-13,133.10,133.22,128.90,131.98,-,"1,489,950,000",4.32
28,28,26-May-13,131.99,136.00,130.62,133.48,-,"1,478,030,000",5.38
29,29,27-May-13,133.50,135.47,124.70,129.75,-,"1,495,520,000",10.77
...,...,...,...,...,...,...,...,...,...
213,213,27-Nov-13,923.85,1001.96,891.68,1001.96,-,"11,124,900,000",110.28
214,214,28-Nov-13,1003.38,1077.56,962.17,1031.95,-,"12,087,000,000",115.39
215,215,29-Nov-13,1042.01,1146.97,1000.64,1131.97,-,"12,557,100,000",146.33
216,216,30-Nov-13,1129.37,1156.14,1106.61,1129.43,-,"13,614,700,000",49.53
217,217,1-Dec-13,1128.92,1133.08,801.82,955.85,-,"13,614,300,000",331.26
218,218,2-Dec-13,951.42,1055.42,938.41,1043.33,-,"11,478,300,000",117.01
219,219,3-Dec-13,1046.40,1096.00,1011.21,1078.28,-,"12,628,300,000",84.79
220,220,4-Dec-13,1077.58,1156.12,1070.16,1151.17,-,"13,010,000,000",85.96
221,221,5-Dec-13,1152.73,1154.36,897.11,1045.11,-,"13,922,300,000",257.25
222,222,6-Dec-13,1042.38,1042.38,829.45,829.45,-,"12,593,900,000",212.93
223,223,7-Dec-13,835.32,854.64,640.22,698.23,-,"10,096,600,000",214.42
224,224,8-Dec-13,697.31,802.51,670.88,795.87,-,"8,431,860,000",131.63
225,225,9-Dec-13,793.80,921.93,780.90,893.19,-,"9,602,480,000",141.03
226,226,10-Dec-13,892.32,997.23,892.32,988.51,-,"10,798,200,000",104.91
227,227,11-Dec-13,989.07,1001.58,834.23,878.48,-,"11,973,700,000",167.35
228,228,12-Dec-13,882.78,901.94,844.95,873.26,-,"10,690,600,000",56.99
229,229,13-Dec-13,874.98,941.79,860.05,892.58,-,"10,599,700,000",81.74
230,230,14-Dec-13,899.85,904.65,858.36,872.60,-,"10,904,900,000",46.29
231,231,15-Dec-13,875.29,886.16,825.00,876.12,-,"10,611,600,000",61.16
232,232,16-Dec-13,880.33,882.25,668.25,705.97,-,"10,676,600,000",214.00
233,233,17-Dec-13,706.37,754.83,630.88,682.12,-,"8,570,390,000",123.95
234,234,18-Dec-13,678.20,679.32,420.51,522.70,-,"8,232,040,000",258.81
235,235,19-Dec-13,519.06,707.23,502.89,691.96,-,"6,302,970,000",204.34
236,236,20-Dec-13,694.22,729.16,595.33,625.32,-,"8,433,870,000",133.83
237,237,21-Dec-13,619.90,654.27,579.17,605.66,-,"7,533,740,000",75.10
238,238,22-Dec-13,601.78,666.74,585.64,617.18,-,"7,315,940,000",81.10
239,239,23-Dec-13,613.06,680.91,611.04,673.41,-,"7,455,670,000",69.87
240,240,24-Dec-13,672.36,684.39,645.71,665.58,-,"8,179,730,000",38.68
241,241,25-Dec-13,666.31,682.70,649.48,682.21,-,"8,108,930,000",33.22
242,242,26-Dec-13,683.94,777.75,683.94,761.98,-,"8,326,270,000",93.81

The missing Volume occurs the entire year of 2013. Our dataset seems to be skipping days.

We can try to replace the string to an int. Maybe it is possible to calculate Volume by comparing Market Cap and Price.
Volume is increasing at an insane rate. It is important to recognize that and report how that could impact the
Investment Risk.

In [5]:
# btc_df['Volume'].mean()
# result['Volume'] = btc_df['Market Cap'] / btc_df['Close']
# result
# result.fillna()

# Time Frames of all 1000 USD iterations

Discover the date ranges where the price exceeds $1000

### Query prices from 0 to 1000

In [9]:
btc_iteration = btc_df[(btc_df['Close']>0) & (btc_df['Close']<1000)]
btc_iteration

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range,MA
0,28-Apr-13,135.30,135.98,132.10,134.21,-,"1,500,520,000",3.88,NaN
1,29-Apr-13,134.44,147.49,134.00,144.54,-,"1,491,160,000",13.49,NaN
2,30-Apr-13,144.00,146.93,134.05,139.00,-,"1,597,780,000",12.88,NaN
3,1-May-13,139.00,139.89,107.72,116.99,-,"1,542,820,000",32.17,NaN
4,2-May-13,116.38,125.60,92.28,105.21,-,"1,292,190,000",33.32,127.990
5,3-May-13,106.25,108.13,79.10,97.75,-,"1,180,070,000",29.03,120.698
6,4-May-13,98.10,115.00,92.50,112.50,-,"1,089,890,000",22.50,114.290
7,5-May-13,112.90,118.80,107.14,115.91,-,"1,254,760,000",11.66,109.672
8,6-May-13,115.98,124.66,106.64,112.30,-,"1,289,470,000",18.02,108.734
9,7-May-13,112.25,113.44,97.70,111.50,-,"1,248,470,000",15.74,109.992
10,8-May-13,109.60,115.78,109.60,113.57,-,"1,219,450,000",6.18,113.156
11,9-May-13,113.20,113.46,109.26,112.67,-,"1,259,980,000",4.20,113.190
12,10-May-13,112.80,122.00,111.55,117.20,-,"1,255,970,000",10.45,113.448
13,11-May-13,117.70,118.68,113.01,115.24,-,"1,311,050,000",5.67,114.036
14,12-May-13,115.64,117.45,113.44,115.00,-,"1,288,630,000",4.01,114.736
15,13-May-13,114.82,118.70,114.50,117.98,-,"1,279,980,000",4.20,115.618
16,14-May-13,117.98,119.80,110.25,111.50,-,"1,315,720,000",9.55,115.384
17,15-May-13,111.40,115.81,103.50,114.22,-,"1,242,760,000",12.31,114.788
18,16-May-13,114.22,118.76,112.20,118.76,-,"1,274,620,000",6.56,115.492
19,17-May-13,118.21,125.30,116.57,123.02,-,"1,319,590,000",8.73,117.096
20,18-May-13,123.50,125.25,122.30,123.50,-,"1,379,140,000",2.95,118.200
21,19-May-13,123.21,124.50,119.57,121.99,-,"1,376,370,000",4.93,120.298
22,20-May-13,122.50,123.62,120.12,122.00,-,"1,368,910,000",3.50,121.854
23,21-May-13,122.02,123.00,121.21,122.88,-,"1,363,940,000",1.79,122.678
24,22-May-13,122.89,124.00,122.00,123.89,-,"1,374,130,000",2.00,122.852
25,23-May-13,123.80,126.93,123.10,126.70,-,"1,384,780,000",3.83,123.492
26,24-May-13,126.30,133.85,125.72,133.20,-,"1,413,300,000",8.13,125.734
27,25-May-13,133.10,133.22,128.90,131.98,-,"1,489,950,000",4.32,127.730
28,26-May-13,131.99,136.00,130.62,133.48,-,"1,478,030,000",5.38,129.850
29,27-May-13,133.50,135.47,124.70,129.75,-,"1,495,520,000",10.77,131.022
...,...,...,...,...,...,...,...,...,...
1354,11-Jan-17,908.12,919.45,762.76,777.76,"310,929,000","14,615,700,000",156.69,881.612
1355,12-Jan-17,775.18,826.25,755.76,804.83,"222,326,000","12,477,600,000",70.49,860.860
1356,13-Jan-17,803.74,829.00,780.00,823.98,"168,968,000","12,939,100,000",49.00,843.416
1357,14-Jan-17,825.14,835.09,812.46,818.41,"93,063,300","13,285,200,000",22.63,826.532
1358,15-Jan-17,818.14,823.31,812.87,821.80,"71,013,600","13,174,300,000",10.44,809.356
1359,16-Jan-17,821.78,834.53,820.27,831.53,"82,755,200","13,234,600,000",14.26,820.110
1360,17-Jan-17,830.95,910.56,830.80,907.94,"155,095,000","13,383,900,000",79.76,840.732
1361,18-Jan-17,909.37,917.50,858.30,886.62,"225,677,000","14,648,900,000",59.20,853.260
1362,19-Jan-17,888.34,904.61,884.34,899.07,"105,625,000","14,311,700,000",20.27,869.392
1363,20-Jan-17,898.17,899.40,887.01,895.03,"86,728,400","14,472,100,000",12.39,884.038
1364,21-Jan-17,895.55,927.37,895.53,921.79,"111,158,000","14,432,000,000",31.84,902.090
1365,22-Jan-17,922.21,937.52,897.56,924.67,"116,573,000","14,863,600,000",39.96,905.436
1366,23-Jan-17,925.50,928.27,916.74,921.01,"73,588,600","14,918,800,000",11.53,912.314
1367,24-Jan-17,910.68,924.14,892.29,892.69,"111,349,000","14,681,400,000",31.85,911.038
1368,25-Jan-17,891.92,903.25,891.69,901.54,"120,831,000","14,380,700,000",11.56,912.340
1369,26-Jan-17,902.39,919.33,902.22,917.59,"131,958,000","14,551,200,000",17.11,911.500
1370,27-Jan-17,918.36,923.22,915.85,919.75,"125,594,000","14,810,400,000",7.37,910.516
1371,28-Jan-17,919.81,923.91,919.81,921.59,"68,979,600","14,835,800,000",4.10,910.632
1372,29-Jan-17,922.07,923.42,919.15,919.50,"60,851,700","14,874,000,000",4.27,915.994
1373,30-Jan-17,920.15,923.05,919.47,920.38,"78,227,300","14,844,900,000",3.58,919.762
1374,31-Jan-17,920.96,972.02,920.96,970.40,"164,582,000","14,859,700,000",51.06,930.324
1375,1-Feb-17,970.94,989.11,970.74,989.02,"150,110,000","15,667,900,000",18.37,944.178
1383,9-Feb-17,1064.70,1088.99,953.34,994.38,"407,220,000","17,197,100,000",135.65,1036.858
1384,10-Feb-17,995.63,998.90,946.69,988.67,"190,452,000","16,083,600,000",52.21,1029.124
1386,12-Feb-17,1003.52,1004.76,996.92,999.18,"67,530,000","16,214,700,000",7.84,1009.950
1387,13-Feb-17,998.88,1002.10,976.00,990.64,"100,607,000","16,141,500,000",26.10,995.464
1420,18-Mar-17,1099.69,1114.07,957.65,973.82,"621,302,000","17,838,700,000",156.42,1150.294
1426,24-Mar-17,1038.45,1040.47,934.36,937.52,"491,038,000","16,857,000,000",106.11,1040.004
1427,25-Mar-17,936.54,975.76,903.71,972.78,"435,803,000","15,204,800,000",72.05,1023.714
1428,26-Mar-17,974.01,1007.96,954.19,966.73,"303,668,000","15,814,800,000",53.77,992.952

In [10]:
num_days = len(btc_iteration)
num_days

1372

### Query prices from 1000 to 2000

In [11]:
btc_iteration2 = btc_df[(btc_df['Close']>1000) & (btc_df['Close']<2000)]
btc_iteration2

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range,MA
213,27-Nov-13,923.85,1001.96,891.68,1001.96,-,"11,124,900,000",110.28,860.248
214,28-Nov-13,1003.38,1077.56,962.17,1031.95,-,"12,087,000,000",115.39,907.074
215,29-Nov-13,1042.01,1146.97,1000.64,1131.97,-,"12,557,100,000",146.33,978.618
216,30-Nov-13,1129.37,1156.14,1106.61,1129.43,-,"13,614,700,000",49.53,1044.682
218,2-Dec-13,951.42,1055.42,938.41,1043.33,-,"11,478,300,000",117.01,1058.506
219,3-Dec-13,1046.40,1096.00,1011.21,1078.28,-,"12,628,300,000",84.79,1067.772
220,4-Dec-13,1077.58,1156.12,1070.16,1151.17,-,"13,010,000,000",85.96,1071.612
221,5-Dec-13,1152.73,1154.36,897.11,1045.11,-,"13,922,300,000",257.25,1054.748
1345,2-Jan-17,998.62,1031.39,996.70,1021.75,"222,185,000","16,055,100,000",34.69,983.712
1346,3-Jan-17,1021.60,1044.08,1021.60,1043.84,"185,168,000","16,426,600,000",22.48,997.780
1347,4-Jan-17,1044.40,1159.42,1044.40,1154.73,"344,946,000","16,795,400,000",115.02,1036.478
1348,5-Jan-17,1156.73,1191.10,910.42,1013.38,"510,199,000","18,604,000,000",280.68,1046.406
1376,2-Feb-17,990.00,1013.52,983.22,1011.80,"145,821,000","15,977,800,000",30.30,962.220
1377,3-Feb-17,1011.46,1033.87,1008.79,1029.91,"201,278,000","16,326,100,000",25.08,984.302
1378,4-Feb-17,1031.33,1045.90,1015.16,1042.90,"155,064,000","16,648,800,000",30.74,1008.806
1379,5-Feb-17,1043.52,1043.63,1022.37,1027.34,"114,208,000","16,847,400,000",21.26,1020.194
1380,6-Feb-17,1028.40,1044.64,1028.16,1038.15,"111,762,000","16,605,400,000",16.48,1030.020
1381,7-Feb-17,1040.14,1061.93,1040.14,1061.35,"146,007,000","16,796,600,000",21.79,1039.930
1382,8-Feb-17,1062.32,1078.97,1037.49,1063.07,"201,855,000","17,156,700,000",41.48,1046.562
1385,11-Feb-17,988.90,1009.29,982.83,1004.45,"102,261,000","15,976,700,000",26.46,1022.384
1388,14-Feb-17,991.74,1011.51,986.47,1004.55,"137,946,000","16,028,000,000",25.04,997.498
1389,15-Feb-17,1006.21,1008.84,1001.58,1007.48,"89,759,400","16,264,100,000",7.26,1001.260
1390,16-Feb-17,1007.65,1033.37,1007.65,1027.44,"122,277,000","16,289,100,000",25.72,1005.858
1391,17-Feb-17,1026.12,1053.17,1025.64,1046.21,"136,474,000","16,589,600,000",27.53,1015.264
1392,18-Feb-17,1049.21,1061.10,1046.96,1054.42,"99,073,500","16,964,800,000",14.14,1028.020
1393,19-Feb-17,1054.76,1056.81,1043.46,1047.87,"77,423,300","17,056,600,000",13.35,1036.684
1394,20-Feb-17,1048.69,1080.49,1041.69,1079.98,"109,478,000","16,960,200,000",38.80,1051.184
1395,21-Feb-17,1079.28,1117.25,1076.93,1115.30,"186,869,000","17,456,900,000",40.32,1068.756
1396,22-Feb-17,1114.80,1125.39,1100.55,1117.44,"136,100,000","18,033,400,000",24.84,1083.002
1397,23-Feb-17,1117.27,1176.62,1116.96,1166.72,"189,454,000","18,075,200,000",59.66,1105.462
...,...,...,...,...,...,...,...,...,...
1455,22-Apr-17,1222.71,1235.56,1208.47,1231.71,"249,320,000","19,913,900,000",27.09,1220.960
1456,23-Apr-17,1231.92,1232.20,1203.94,1207.21,"258,951,000","20,066,200,000",28.26,1220.068
1457,24-Apr-17,1209.63,1250.94,1209.63,1250.15,"235,806,000","19,705,400,000",41.31,1228.040
1458,25-Apr-17,1250.45,1267.58,1249.97,1265.49,"242,556,000","20,372,300,000",17.61,1235.322
1459,26-Apr-17,1265.99,1294.83,1265.93,1281.08,"329,631,000","20,627,900,000",28.90,1247.128
1460,27-Apr-17,1281.88,1319.70,1281.30,1317.73,"449,197,000","20,889,200,000",38.40,1264.332
1461,28-Apr-17,1317.74,1331.28,1292.37,1316.48,"527,489,000","21,476,000,000",38.91,1286.186
1462,29-Apr-17,1317.84,1327.20,1315.21,1321.79,"422,706,000","21,479,800,000",11.99,1300.514
1463,30-Apr-17,1321.87,1347.91,1314.92,1347.89,"413,115,000","21,548,400,000",32.99,1316.994
1464,1-May-17,1348.30,1434.32,1348.30,1421.60,"713,624,000","21,981,800,000",86.02,1345.098
1465,2-May-17,1421.03,1473.90,1415.69,1452.82,"477,338,000","23,170,200,000",58.21,1372.116
1466,3-May-17,1453.78,1492.77,1447.49,1490.09,"583,796,000","23,707,100,000",45.28,1406.838
1467,4-May-17,1490.72,1608.91,1490.72,1537.67,"933,549,000","24,311,900,000",118.19,1450.014
1468,5-May-17,1540.87,1618.03,1530.31,1555.45,"946,036,000","25,133,100,000",87.72,1491.526
1469,6-May-17,1556.81,1578.80,1542.50,1578.80,"582,530,000","25,395,600,000",36.30,1522.966
1470,7-May-17,1579.47,1596.72,1559.76,1596.71,"1,080,030,000","25,768,500,000",36.96,1551.744
1471,8-May-17,1596.92,1723.35,1596.92,1723.35,"1,340,320,000","26,056,500,000",126.43,1598.396
1472,9-May-17,1723.89,1833.49,1716.30,1755.36,"1,167,920,000","28,132,200,000",117.19,1641.934
1473,10-May-17,1756.52,1788.44,1719.10,1787.13,"915,723,000","28,668,100,000",69.34,1688.270
1474,11-May-17,1780.37,1873.93,1755.35,1848.57,"799,490,000","29,060,600,000",118.58,1742.224
1475,12-May-17,1845.76,1856.15,1694.01,1724.24,"740,984,000","30,131,100,000",162.14,1767.730
1476,13-May-17,1723.12,1812.99,1651.08,1804.91,"579,635,000","28,132,300,000",161.91,1784.042
1477,14-May-17,1800.86,1831.42,1776.62,1808.91,"437,196,000","29,405,100,000",54.80,1794.752
1478,15-May-17,1808.44,1812.80,1708.54,1738.43,"731,529,000","29,532,600,000",104.26,1785.012
1479,16-May-17,1741.70,1785.94,1686.54,1734.45,"959,045,000","28,446,300,000",99.40,1762.188
1480,17-May-17,1726.73,1864.05,1661.91,1839.09,"1,064,730,000","28,204,800,000",202.14,1785.158
1481,18-May-17,1818.70,1904.48,1807.12,1888.65,"894,321,000","29,710,500,000",97.36,1801.906
1482,19-May-17,1897.37,2004.52,1890.25,1987.71,"1,157,290,000","30,999,000,000",114.27,1837.666
1539,15-Jul-17,2230.12,2231.14,1990.41,1998.86,"993,608,000","36,681,300,000",240.73,2265.346
1540,16-Jul-17,1991.98,2058.77,1843.03,1929.82,"1,182,870,000","32,767,600,000",215.74,2183.752

In [12]:
num_days = len(btc_iteration2)
num_days

113

### Query prices from 2000 to 3000

In [13]:
btc_iteration3 = btc_df[(btc_df['Close']>2000) & (btc_df['Close']<3000)]
btc_iteration3

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range,MA
1483,20-May-17,1984.24,2084.73,1974.92,2084.73,"961,336,000","32,422,400,000",109.81,1906.926
1484,21-May-17,2067.03,2119.08,2037.50,2041.20,"1,147,860,000","33,779,400,000",81.58,1968.276
1485,22-May-17,2043.19,2303.90,2017.87,2173.40,"1,942,220,000","33,393,600,000",286.03,2035.138
1486,23-May-17,2191.56,2320.82,2178.50,2320.42,"1,378,750,000","35,822,600,000",142.32,2121.492
1487,24-May-17,2321.37,2523.72,2321.37,2443.64,"1,725,380,000","37,949,200,000",202.35,2212.678
1488,25-May-17,2446.24,2763.71,2285.30,2304.98,"2,406,700,000","39,995,400,000",478.41,2256.728
1489,26-May-17,2320.89,2573.79,2071.99,2202.42,"1,763,480,000","37,950,600,000",501.80,2288.972
1490,27-May-17,2196.27,2260.20,1855.83,2038.87,"1,700,480,000","35,917,100,000",404.37,2262.066
1491,28-May-17,2054.08,2267.34,2054.08,2155.80,"1,147,140,000","33,595,900,000",213.26,2229.142
1492,29-May-17,2159.43,2307.05,2107.17,2255.61,"994,625,000","35,323,500,000",199.88,2191.536
1493,30-May-17,2255.36,2301.96,2124.57,2175.47,"1,443,970,000","36,897,000,000",177.39,2165.634
1494,31-May-17,2187.19,2311.08,2145.57,2286.41,"1,544,830,000","35,786,700,000",165.51,2182.432
1495,1-Jun-17,2288.33,2448.39,2288.33,2407.88,"1,653,180,000","37,446,200,000",160.06,2256.234
1496,2-Jun-17,2404.03,2488.55,2373.32,2488.55,"1,317,030,000","39,344,600,000",115.23,2322.784
1497,3-Jun-17,2493.72,2581.91,2423.57,2515.35,"1,514,950,000","40,817,100,000",158.34,2374.732
1498,4-Jun-17,2547.79,2585.89,2452.54,2511.81,"1,355,120,000","41,708,200,000",133.35,2442.000
1499,5-Jun-17,2512.40,2686.81,2510.22,2686.81,"1,369,310,000","41,133,900,000",176.59,2522.080
1500,6-Jun-17,2690.84,2999.91,2690.84,2863.20,"2,089,610,000","44,061,000,000",309.07,2613.144
1501,7-Jun-17,2869.38,2869.38,2700.56,2732.16,"1,517,710,000","46,989,800,000",168.82,2661.866
1502,8-Jun-17,2720.49,2815.30,2670.95,2805.62,"1,281,170,000","44,557,100,000",144.35,2719.920
1503,9-Jun-17,2807.44,2901.71,2795.62,2823.81,"1,348,950,000","45,987,100,000",106.09,2782.320
1504,10-Jun-17,2828.14,2950.99,2746.55,2947.71,"2,018,890,000","46,331,400,000",204.44,2834.500
1505,11-Jun-17,2942.41,2996.60,2840.53,2958.11,"1,752,400,000","48,208,700,000",156.07,2853.482
1506,12-Jun-17,2953.22,2997.26,2518.56,2659.63,"2,569,530,000","48,391,200,000",478.70,2838.976
1507,13-Jun-17,2680.91,2789.04,2650.38,2717.02,"1,781,200,000","43,934,100,000",138.66,2821.256
1508,14-Jun-17,2716.88,2786.83,2412.94,2506.37,"1,696,560,000","44,528,300,000",373.89,2757.768
1509,15-Jun-17,2499.58,2534.71,2212.96,2464.58,"2,026,260,000","40,971,300,000",321.75,2661.142
1510,16-Jun-17,2469.57,2539.92,2385.15,2518.56,"1,195,190,000","40,484,100,000",154.77,2573.232
1511,17-Jun-17,2514.01,2685.19,2484.96,2655.88,"1,534,510,000","41,217,200,000",200.23,2572.482
1512,18-Jun-17,2655.35,2662.10,2516.33,2548.29,"1,178,660,000","43,539,300,000",145.77,2538.736
...,...,...,...,...,...,...,...,...,...
1528,4-Jul-17,2561.00,2631.59,2559.35,2601.64,"985,516,000","42,067,900,000",72.24,2517.512
1529,5-Jul-17,2602.87,2622.65,2538.55,2601.99,"941,566,000","42,760,800,000",84.10,2541.742
1530,6-Jul-17,2608.10,2616.72,2581.69,2608.56,"761,957,000","42,851,400,000",35.03,2576.544
1531,7-Jul-17,2608.59,2916.14,2498.87,2518.66,"917,412,000","42,864,200,000",417.27,2578.982
1532,8-Jul-17,2520.27,2571.34,2492.31,2571.34,"733,330,000","41,417,700,000",79.03,2580.438
1533,9-Jul-17,2572.61,2635.49,2517.59,2518.44,"527,856,000","42,283,200,000",117.90,2563.798
1534,10-Jul-17,2525.25,2537.16,2321.13,2372.56,"1,111,200,000","41,509,000,000",216.03,2517.912
1535,11-Jul-17,2385.89,2413.47,2296.81,2337.79,"1,329,760,000","39,224,200,000",116.66,2463.758
1536,12-Jul-17,2332.77,2423.71,2275.14,2398.84,"1,117,410,000","38,355,900,000",148.57,2439.794
1537,13-Jul-17,2402.70,2425.22,2340.83,2357.90,"835,770,000","39,511,000,000",84.39,2397.106
1538,14-Jul-17,2360.59,2363.25,2183.22,2233.34,"882,503,000","38,823,100,000",180.03,2340.086
1541,17-Jul-17,1932.62,2230.49,1932.62,2228.41,"1,201,760,000","31,795,000,000",297.87,2149.666
1542,18-Jul-17,2233.52,2387.61,2164.77,2318.88,"1,512,450,000","36,749,400,000",222.84,2141.862
1543,19-Jul-17,2323.08,2397.17,2260.23,2273.43,"1,245,100,000","38,227,800,000",136.94,2149.880
1544,20-Jul-17,2269.89,2900.70,2269.89,2817.60,"2,249,260,000","37,356,800,000",630.81,2313.628
1545,21-Jul-17,2838.41,2838.41,2621.85,2667.76,"1,489,450,000","46,719,000,000",216.56,2461.216
1546,22-Jul-17,2668.63,2862.42,2657.71,2810.12,"1,177,130,000","43,929,600,000",204.71,2577.558
1547,23-Jul-17,2808.10,2832.18,2653.94,2730.40,"1,072,840,000","46,231,100,000",178.24,2659.862
1548,24-Jul-17,2732.70,2777.26,2699.19,2754.86,"866,474,000","44,995,600,000",78.07,2756.148
1549,25-Jul-17,2757.50,2768.08,2480.96,2576.48,"1,460,090,000","45,410,100,000",287.12,2707.924
1550,26-Jul-17,2577.77,2610.76,2450.80,2529.45,"937,404,000","42,455,000,000",159.96,2680.262
1551,27-Jul-17,2538.71,2693.32,2529.34,2671.78,"789,104,000","41,816,500,000",163.98,2652.594
1552,28-Jul-17,2679.73,2897.45,2679.73,2809.01,"1,380,100,000","44,144,400,000",217.72,2668.316
1553,29-Jul-17,2807.02,2808.76,2692.80,2726.45,"803,746,000","46,246,700,000",115.96,2662.634
1554,30-Jul-17,2724.39,2758.53,2644.85,2757.18,"705,943,000","44,890,700,000",113.68,2698.774
1555,31-Jul-17,2763.24,2889.62,2720.61,2875.34,"860,575,000","45,535,800,000",169.01,2767.952
1556,1-Aug-17,2871.30,2921.35,2685.61,2718.26,"1,324,670,000","47,321,800,000",235.74,2777.248
1557,2-Aug-17,2727.13,2762.53,2668.59,2710.67,"1,094,950,000","44,950,800,000",93.94,2757.580
1558,3-Aug-17,2709.56,2813.31,2685.14,2804.73,"804,797,000","44,666,400,000",128.17,2773.236
1559,4-Aug-17,2806.93,2899.33,2743.72,2895.89,"1,002,120,000","46,276,200,000",155.61,2800.978

In [14]:
num_days = len(btc_iteration3)
num_days

75

### Query prices from 3000 to 4000

In [15]:
btc_iteration = btc_df[(btc_df['High']>=3000) & (btc_df['High']<=4000)]
# btc_iteration['Date'] = pd.to_datetime(btc_df.Date)
new_df = btc_iteration.sort_values(by='Date')
# Reset index
new_df.reset_index(inplace=True)
new_df

,index,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range,MA
0,1565,10-Aug-17,3341.84,3453.45,3319.47,3381.28,"1,515,110,000","55,134,700,000",133.98,3347.314
1,1566,11-Aug-17,3373.82,3679.72,3372.12,3650.62,"2,021,190,000","55,668,000,000",307.60,3434.650
2,1567,12-Aug-17,3650.63,3949.92,3613.70,3884.71,"2,219,590,000","60,242,100,000",336.22,3535.804
3,1600,14-Sep-17,3875.37,3920.60,3153.86,3154.95,"2,716,310,000","64,191,600,000",766.74,3890.512
4,1601,15-Sep-17,3166.30,3733.45,2946.62,3637.52,"4,148,070,000","52,453,500,000",786.83,3793.428
5,1602,16-Sep-17,3637.75,3808.84,3487.79,3625.04,"1,818,400,000","60,271,600,000",321.05,3686.182
6,1603,17-Sep-17,3606.28,3664.81,3445.64,3582.88,"1,239,150,000","59,757,800,000",219.17,3576.596
7,1607,21-Sep-17,3901.47,3916.42,3613.63,3631.04,"1,411,480,000","64,677,600,000",302.79,3822.008
8,1608,22-Sep-17,3628.02,3758.27,3553.53,3630.70,"1,194,830,000","60,152,300,000",204.74,3831.572
9,1609,23-Sep-17,3629.92,3819.21,3594.58,3792.40,"928,114,000","60,190,000,000",224.63,3777.012
10,1610,24-Sep-17,3796.15,3796.15,3666.90,3682.84,"768,015,000","62,954,300,000",129.25,3728.586
11,1611,25-Sep-17,3681.58,3950.25,3681.58,3926.07,"1,374,210,000","61,061,100,000",268.67,3732.610
12,1612,26-Sep-17,3928.41,3969.89,3869.90,3892.35,"1,043,740,000","65,161,000,000",99.99,3784.872
13,1560,5-Aug-17,2897.63,3290.01,2874.83,3252.91,"1,945,700,000","47,778,200,000",415.18,2876.492
14,1561,6-Aug-17,3257.61,3293.29,3155.60,3213.94,"1,105,030,000","53,720,900,000",137.69,2975.628
15,1562,7-Aug-17,3212.78,3397.68,3180.89,3378.94,"1,482,280,000","52,987,300,000",216.79,3109.282
16,1563,8-Aug-17,3370.22,3484.85,3345.83,3419.94,"1,752,760,000","55,590,300,000",139.02,3232.324
17,1564,9-Aug-17,3420.40,3422.76,3247.67,3342.47,"1,468,960,000","56,424,900,000",175.09,3321.640

In [16]:
# Calculate the number of days
iteration_len = len(new_df)
iteration_len

18

In [17]:
#find the first and last day
new_df['Date'].min()

'10-Aug-17'

In [18]:
new_df['Date'].max()

'9-Aug-17'

In [19]:
new_df['Date'].count()

18

In [20]:
# find the highest price and day of the iteration
new_df['High'].max()

3969.8899999999999

### Query prices from 4000 to 5000

In [21]:
'''
You can also query data frames by selecting specific columns
'''
cond1 = btc_df['High']>4000
cond2 = btc_df['High']<5000
result = btc_df[(cond1) & (cond2)]
#cols = ['Date','High','Daily Range']
result

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range,MA
1568,13-Aug-17,3880.04,4208.39,3857.80,4073.26,"3,159,090,000","64,034,100,000",350.59,3666.468
1569,14-Aug-17,4066.10,4325.13,3989.16,4325.13,"2,463,090,000","67,112,300,000",335.97,3863.000
1570,15-Aug-17,4326.99,4455.97,3906.18,4181.93,"3,258,050,000","71,425,500,000",549.79,4023.130
1571,16-Aug-17,4200.34,4381.23,3994.42,4376.63,"2,272,040,000","69,342,700,000",386.81,4168.332
1572,17-Aug-17,4384.44,4484.70,4243.71,4331.69,"2,553,360,000","72,389,100,000",240.99,4257.728
1573,18-Aug-17,4324.34,4370.13,4015.40,4160.62,"2,941,710,000","71,406,500,000",354.73,4275.200
1574,19-Aug-17,4137.75,4243.26,3970.55,4193.70,"2,975,820,000","68,333,100,000",272.71,4248.914
1575,20-Aug-17,4189.31,4196.29,4069.88,4087.66,"2,109,770,000","69,192,700,000",126.41,4230.060
1576,21-Aug-17,4090.48,4109.14,3988.60,4001.74,"2,800,890,000","67,567,100,000",120.54,4155.082
1577,22-Aug-17,3998.35,4128.76,3674.58,4100.52,"3,764,240,000","66,051,000,000",454.18,4108.848
1578,23-Aug-17,4089.01,4255.78,4078.41,4151.52,"2,369,820,000","67,553,000,000",177.37,4107.028
1579,24-Aug-17,4137.60,4376.39,4130.26,4334.68,"2,037,750,000","68,363,900,000",246.13,4135.224
1580,25-Aug-17,4332.82,4455.70,4307.35,4371.60,"1,727,970,000","71,595,100,000",148.35,4192.012
1581,26-Aug-17,4372.06,4379.28,4269.52,4352.40,"1,511,610,000","72,249,100,000",109.76,4262.144
1582,27-Aug-17,4345.10,4416.59,4317.29,4382.88,"1,537,460,000","71,809,200,000",99.30,4318.616
1583,28-Aug-17,4384.45,4403.93,4224.64,4382.66,"1,959,330,000","72,467,900,000",179.29,4364.844
1584,29-Aug-17,4389.21,4625.68,4352.13,4579.02,"2,486,080,000","72,553,800,000",273.55,4413.712
1585,30-Aug-17,4570.36,4626.52,4471.41,4565.30,"1,937,850,000","75,556,600,000",155.11,4452.452
1586,31-Aug-17,4555.59,4736.05,4549.40,4703.39,"1,944,930,000","75,322,300,000",186.65,4522.650
1587,1-Sep-17,4701.76,4892.01,4678.53,4892.01,"2,599,080,000","77,748,400,000",213.48,4624.476
1588,2-Sep-17,4901.42,4975.04,4469.24,4578.77,"2,722,140,000","81,060,600,000",505.80,4663.698
1589,3-Sep-17,4585.27,4714.08,4417.59,4582.96,"1,933,190,000","75,841,700,000",296.49,4664.486
1590,4-Sep-17,4591.63,4591.63,4108.40,4236.31,"2,987,330,000","75,955,500,000",483.23,4598.688
1591,5-Sep-17,4228.29,4427.84,3998.11,4376.53,"2,697,970,000","69,954,400,000",429.73,4533.316
1592,6-Sep-17,4376.59,4617.25,4376.59,4597.12,"2,172,100,000","72,418,700,000",240.66,4474.338
1593,7-Sep-17,4589.14,4655.04,4491.33,4599.88,"1,844,620,000","75,945,000,000",163.71,4478.560
1594,8-Sep-17,4605.16,4661.00,4075.18,4228.75,"2,700,890,000","76,220,200,000",585.82,4407.718
1595,9-Sep-17,4229.81,4308.82,4114.11,4226.06,"1,386,230,000","70,017,200,000",194.71,4405.668
1596,10-Sep-17,4229.34,4245.44,3951.04,4122.94,"1,679,090,000","70,018,100,000",294.40,4354.950
1597,11-Sep-17,4122.47,4261.67,4099.40,4161.27,"1,557,330,000","68,256,000,000",162.27,4267.780
1598,12-Sep-17,4168.88,4344.65,4085.22,4130.81,"1,864,530,000","69,033,400,000",259.43,4173.966
1599,13-Sep-17,4131.98,4131.98,3789.92,3882.59,"2,219,410,000","68,432,200,000",342.06,4104.734
1604,18-Sep-17,3591.09,4079.23,3591.09,4065.20,"1,943,210,000","59,514,100,000",488.14,3613.118
1605,19-Sep-17,4073.79,4094.07,3868.87,3924.97,"1,563,980,000","67,520,300,000",225.20,3767.122
1606,20-Sep-17,3916.36,4031.39,3857.73,3905.95,"1,213,830,000","64,918,500,000",173.66,3820.808
1613,27-Sep-17,3892.94,4210.05,3884.82,4200.67,"1,686,880,000","64,579,200,000",325.23,3898.866
1614,28-Sep-17,4197.13,4279.31,4109.70,4174.73,"1,712,320,000","69,633,200,000",169.61,3975.332
1615,29-Sep-17,4171.62,4214.63,4039.29,4163.07,"1,367,050,000","69,219,200,000",175.34,4071.378
1616,30-Sep-17,4166.11,4358.43,4160.86,4338.71,"1,207,450,000","69,136,600,000",197.57,4153.906
1617,1-Oct-17,4341.05,4403.74,4269.81,4403.74,"1,208,210,000","72,047,300,000",133.93,4256.184
1618,2-Oct-17,4395.81,4470.23,4377.46,4409.32,"1,431,730,000","72,963,200,000",92.77,4297.914
1619,3-Oct-17,4408.46,4432.47,4258.89,4317.48,"1,288,020,000","73,181,300,000",173.58,4326.464

In [22]:
'''
This way works too
'''
btc_iteration2 = btc_df[(btc_df['High']>4000) & (btc_df['High']<5000)]
cols = ['Date','High','Daily Range']
btc_iteration2[cols]

           Date     High  Daily Range
1568  13-Aug-17  4208.39       350.59
1569  14-Aug-17  4325.13       335.97
1570  15-Aug-17  4455.97       549.79
1571  16-Aug-17  4381.23       386.81
1572  17-Aug-17  4484.70       240.99
1573  18-Aug-17  4370.13       354.73
1574  19-Aug-17  4243.26       272.71
1575  20-Aug-17  4196.29       126.41
1576  21-Aug-17  4109.14       120.54
1577  22-Aug-17  4128.76       454.18
1578  23-Aug-17  4255.78       177.37
1579  24-Aug-17  4376.39       246.13
1580  25-Aug-17  4455.70       148.35
1581  26-Aug-17  4379.28       109.76
1582  27-Aug-17  4416.59        99.30
1583  28-Aug-17  4403.93       179.29
1584  29-Aug-17  4625.68       273.55
1585  30-Aug-17  4626.52       155.11
1586  31-Aug-17  4736.05       186.65
1587   1-Sep-17  4892.01       213.48
1588   2-Sep-17  4975.04       505.80
1589   3-Sep-17  4714.08       296.49
1590   4-Sep-17  4591.63       483.23
1591   5-Sep-17  4427.84       429.73
1592   6-Sep-17  4617.25       240.66
1593   7-Sep-17  4655.04       163.71
1594   8-Sep-17  4661.00       585.82
1595   9-Sep-17  4308.82       194.71
1596  10-Sep-17  4245.44       294.40
1597  11-Sep-17  4261.67       162.27
1598  12-Sep-17  4344.65       259.43
1599  13-Sep-17  4131.98       342.06
1604  18-Sep-17  4079.23       488.14
1605  19-Sep-17  4094.07       225.20
1606  20-Sep-17  4031.39       173.66
1613  27-Sep-17  4210.05       325.23
1614  28-Sep-17  4279.31       169.61
1615  29-Sep-17  4214.63       175.34
1616  30-Sep-17  4358.43       197.57
1617   1-Oct-17  4403.74       133.93
1618   2-Oct-17  4470.23        92.77
1619   3-Oct-17  4432.47       173.58

In [23]:
# Calculate the number of days
iteration2_len = len(btc_iteration2)
iteration2_len

42

In [24]:
btc_iteration2['Date'].min()

'1-Oct-17'

In [25]:
btc_iteration2['Date'].max()

'9-Sep-17'

# Wise Times To Buy

Simple Approach for technical strategies

In [26]:
avg_daily_range = btc_df['Daily Range'].mean()
# btc_df[btc_df['Close']>btc_df['Open']]
# btc_df[btc_df['Close']>btc_df['Open']].sort_values(btc_df['Date'])
new_btc_df = btc_df[(btc_df['High'] > btc_df['Low']) & (btc_df['Daily Range'] > 300)]
new_btc_df

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range,MA
205,19-Nov-13,712.76,806.11,456.39,584.61,-,"8,559,550,000",349.72,527.690
217,1-Dec-13,1128.92,1133.08,801.82,955.85,-,"13,614,300,000",331.26,1050.232
1488,25-May-17,2446.24,2763.71,2285.30,2304.98,"2,406,700,000","39,995,400,000",478.41,2256.728
1489,26-May-17,2320.89,2573.79,2071.99,2202.42,"1,763,480,000","37,950,600,000",501.80,2288.972
1490,27-May-17,2196.27,2260.20,1855.83,2038.87,"1,700,480,000","35,917,100,000",404.37,2262.066
1500,6-Jun-17,2690.84,2999.91,2690.84,2863.20,"2,089,610,000","44,061,000,000",309.07,2613.144
1506,12-Jun-17,2953.22,2997.26,2518.56,2659.63,"2,569,530,000","48,391,200,000",478.70,2838.976
1508,14-Jun-17,2716.88,2786.83,2412.94,2506.37,"1,696,560,000","44,528,300,000",373.89,2757.768
1509,15-Jun-17,2499.58,2534.71,2212.96,2464.58,"2,026,260,000","40,971,300,000",321.75,2661.142
1531,7-Jul-17,2608.59,2916.14,2498.87,2518.66,"917,412,000","42,864,200,000",417.27,2578.982
1544,20-Jul-17,2269.89,2900.70,2269.89,2817.60,"2,249,260,000","37,356,800,000",630.81,2313.628
1560,5-Aug-17,2897.63,3290.01,2874.83,3252.91,"1,945,700,000","47,778,200,000",415.18,2876.492
1566,11-Aug-17,3373.82,3679.72,3372.12,3650.62,"2,021,190,000","55,668,000,000",307.60,3434.650
1567,12-Aug-17,3650.63,3949.92,3613.70,3884.71,"2,219,590,000","60,242,100,000",336.22,3535.804
1568,13-Aug-17,3880.04,4208.39,3857.80,4073.26,"3,159,090,000","64,034,100,000",350.59,3666.468
1569,14-Aug-17,4066.10,4325.13,3989.16,4325.13,"2,463,090,000","67,112,300,000",335.97,3863.000
1570,15-Aug-17,4326.99,4455.97,3906.18,4181.93,"3,258,050,000","71,425,500,000",549.79,4023.130
1571,16-Aug-17,4200.34,4381.23,3994.42,4376.63,"2,272,040,000","69,342,700,000",386.81,4168.332
1573,18-Aug-17,4324.34,4370.13,4015.40,4160.62,"2,941,710,000","71,406,500,000",354.73,4275.200
1577,22-Aug-17,3998.35,4128.76,3674.58,4100.52,"3,764,240,000","66,051,000,000",454.18,4108.848
1588,2-Sep-17,4901.42,4975.04,4469.24,4578.77,"2,722,140,000","81,060,600,000",505.80,4663.698
1590,4-Sep-17,4591.63,4591.63,4108.40,4236.31,"2,987,330,000","75,955,500,000",483.23,4598.688
1591,5-Sep-17,4228.29,4427.84,3998.11,4376.53,"2,697,970,000","69,954,400,000",429.73,4533.316
1594,8-Sep-17,4605.16,4661.00,4075.18,4228.75,"2,700,890,000","76,220,200,000",585.82,4407.718
1599,13-Sep-17,4131.98,4131.98,3789.92,3882.59,"2,219,410,000","68,432,200,000",342.06,4104.734
1600,14-Sep-17,3875.37,3920.60,3153.86,3154.95,"2,716,310,000","64,191,600,000",766.74,3890.512
1601,15-Sep-17,3166.30,3733.45,2946.62,3637.52,"4,148,070,000","52,453,500,000",786.83,3793.428
1602,16-Sep-17,3637.75,3808.84,3487.79,3625.04,"1,818,400,000","60,271,600,000",321.05,3686.182
1604,18-Sep-17,3591.09,4079.23,3591.09,4065.20,"1,943,210,000","59,514,100,000",488.14,3613.118
1607,21-Sep-17,3901.47,3916.42,3613.63,3631.04,"1,411,480,000","64,677,600,000",302.79,3822.008
1613,27-Sep-17,3892.94,4210.05,3884.82,4200.67,"1,686,880,000","64,579,200,000",325.23,3898.866

In [27]:
totalDays = len(new_btc_df)
totalDays

31

# Finding Simple Moving Average

We want to plot a simple moving average in order to discover crossovers. Crossovers are good indicators for buying and selling.

A simple moving average (SMA) is an arithmetic moving average calculated by adding the closing price of the security for a number of time periods and then dividing this total by the number of time periods.

Read more: Simple Moving Average (SMA) https://www.investopedia.com/terms/s/sma.asp#ixzz50bHYsA5m 
Follow us: Investopedia on Facebook

First, find the overall SMA of our dataframe

In [28]:
# This is a constant horizontal value
close = btc_df['Close']
day1 = btc_df['Date'].min()
lastDay = btc_df['Date'].max()
sma = close.mean()
sma

718.80420987654315

In [29]:
day1

'1-Apr-14'

In [30]:
lastDay

'9-Sep-17'

In [31]:
# This is a moving average curve
btc_df['MA'] = btc_df['Close'].rolling(5).mean()
btc_df

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range,MA
0,28-Apr-13,135.30,135.98,132.10,134.21,-,"1,500,520,000",3.88,NaN
1,29-Apr-13,134.44,147.49,134.00,144.54,-,"1,491,160,000",13.49,NaN
2,30-Apr-13,144.00,146.93,134.05,139.00,-,"1,597,780,000",12.88,NaN
3,1-May-13,139.00,139.89,107.72,116.99,-,"1,542,820,000",32.17,NaN
4,2-May-13,116.38,125.60,92.28,105.21,-,"1,292,190,000",33.32,127.990
5,3-May-13,106.25,108.13,79.10,97.75,-,"1,180,070,000",29.03,120.698
6,4-May-13,98.10,115.00,92.50,112.50,-,"1,089,890,000",22.50,114.290
7,5-May-13,112.90,118.80,107.14,115.91,-,"1,254,760,000",11.66,109.672
8,6-May-13,115.98,124.66,106.64,112.30,-,"1,289,470,000",18.02,108.734
9,7-May-13,112.25,113.44,97.70,111.50,-,"1,248,470,000",15.74,109.992
10,8-May-13,109.60,115.78,109.60,113.57,-,"1,219,450,000",6.18,113.156
11,9-May-13,113.20,113.46,109.26,112.67,-,"1,259,980,000",4.20,113.190
12,10-May-13,112.80,122.00,111.55,117.20,-,"1,255,970,000",10.45,113.448
13,11-May-13,117.70,118.68,113.01,115.24,-,"1,311,050,000",5.67,114.036
14,12-May-13,115.64,117.45,113.44,115.00,-,"1,288,630,000",4.01,114.736
15,13-May-13,114.82,118.70,114.50,117.98,-,"1,279,980,000",4.20,115.618
16,14-May-13,117.98,119.80,110.25,111.50,-,"1,315,720,000",9.55,115.384
17,15-May-13,111.40,115.81,103.50,114.22,-,"1,242,760,000",12.31,114.788
18,16-May-13,114.22,118.76,112.20,118.76,-,"1,274,620,000",6.56,115.492
19,17-May-13,118.21,125.30,116.57,123.02,-,"1,319,590,000",8.73,117.096
20,18-May-13,123.50,125.25,122.30,123.50,-,"1,379,140,000",2.95,118.200
21,19-May-13,123.21,124.50,119.57,121.99,-,"1,376,370,000",4.93,120.298
22,20-May-13,122.50,123.62,120.12,122.00,-,"1,368,910,000",3.50,121.854
23,21-May-13,122.02,123.00,121.21,122.88,-,"1,363,940,000",1.79,122.678
24,22-May-13,122.89,124.00,122.00,123.89,-,"1,374,130,000",2.00,122.852
25,23-May-13,123.80,126.93,123.10,126.70,-,"1,384,780,000",3.83,123.492
26,24-May-13,126.30,133.85,125.72,133.20,-,"1,413,300,000",8.13,125.734
27,25-May-13,133.10,133.22,128.90,131.98,-,"1,489,950,000",4.32,127.730
28,26-May-13,131.99,136.00,130.62,133.48,-,"1,478,030,000",5.38,129.850
29,27-May-13,133.50,135.47,124.70,129.75,-,"1,495,520,000",10.77,131.022
...,...,...,...,...,...,...,...,...,...
1590,4-Sep-17,4591.63,4591.63,4108.40,4236.31,"2,987,330,000","75,955,500,000",483.23,4598.688
1591,5-Sep-17,4228.29,4427.84,3998.11,4376.53,"2,697,970,000","69,954,400,000",429.73,4533.316
1592,6-Sep-17,4376.59,4617.25,4376.59,4597.12,"2,172,100,000","72,418,700,000",240.66,4474.338
1593,7-Sep-17,4589.14,4655.04,4491.33,4599.88,"1,844,620,000","75,945,000,000",163.71,4478.560
1594,8-Sep-17,4605.16,4661.00,4075.18,4228.75,"2,700,890,000","76,220,200,000",585.82,4407.718
1595,9-Sep-17,4229.81,4308.82,4114.11,4226.06,"1,386,230,000","70,017,200,000",194.71,4405.668
1596,10-Sep-17,4229.34,4245.44,3951.04,4122.94,"1,679,090,000","70,018,100,000",294.40,4354.950
1597,11-Sep-17,4122.47,4261.67,4099.40,4161.27,"1,557,330,000","68,256,000,000",162.27,4267.780
1598,12-Sep-17,4168.88,4344.65,4085.22,4130.81,"1,864,530,000","69,033,400,000",259.43,4173.966
1599,13-Sep-17,4131.98,4131.98,3789.92,3882.59,"2,219,410,000","68,432,200,000",342.06,4104.734
1600,14-Sep-17,3875.37,3920.60,3153.86,3154.95,"2,716,310,000","64,191,600,000",766.74,3890.512
1601,15-Sep-17,3166.30,3733.45,2946.62,3637.52,"4,148,070,000","52,453,500,000",786.83,3793.428
1602,16-Sep-17,3637.75,3808.84,3487.79,3625.04,"1,818,400,000","60,271,600,000",321.05,3686.182
1603,17-Sep-17,3606.28,3664.81,3445.64,3582.88,"1,239,150,000","59,757,800,000",219.17,3576.596
1604,18-Sep-17,3591.09,4079.23,3591.09,4065.20,"1,943,210,000","59,514,100,000",488.14,3613.118
1605,19-Sep-17,4073.79,4094.07,3868.87,3924.97,"1,563,980,000","67,520,300,000",225.20,3767.122
1606,20-Sep-17,3916.36,4031.39,3857.73,3905.95,"1,213,830,000","64,918,500,000",173.66,3820.808
1607,21-Sep-17,3901.47,3916.42,3613.63,3631.04,"1,411,480,000","64,677,600,000",302.79,3822.008
1608,22-Sep-17,3628.02,3758.27,3553.53,3630.70,"1,194,830,000","60,152,300,000",204.74,3831.572
1609,23-Sep-17,3629.92,3819.21,3594.58,3792.40,"928,114,000","60,190,000,000",224.63,3777.012
1610,24-Sep-17,3796.15,3796.15,3666.90,3682.84,"768,015,000","62,954,300,000",129.25,3728.586
1611,25-Sep-17,3681.58,3950.25,3681.58,3926.07,"1,374,210,000","61,061,100,000",268.67,3732.610
1612,26-Sep-17,3928.41,3969.89,3869.90,3892.35,"1,043,740,000","65,161,000,000",99.99,3784.872
1613,27-Sep-17,3892.94,4210.05,3884.82,4200.67,"1,686,880,000","64,579,200,000",325.23,3898.866
1614,28-Sep-17,4197.13,4279.31,4109.70,4174.73,"1,712,320,000","69,633,200,000",169.61,3975.332
1615,29-Sep-17,4171.62,4214.63,4039.29,4163.07,"1,367,050,000","69,219,200,000",175.34,4071.378
1616,30-Sep-17,4166.11,4358.43,4160.86,4338.71,"1,207,450,000","69,136,600,000",197.57,4153.906
1617,1-Oct-17,4341.05,4403.74,4269.81,4403.74,"1,208,210,000","72,047,300,000",133.93,4256.184
1618,2-Oct-17,4395.81,4470.23,4377.46,4409.32,"1,431,730,000","72,963,200,000",92.77,4297.914
1619,3-Oct-17,4408.46,4432.47,4258.89,4317.48,"1,288,020,000","73,181,300,000",173.58,4326.464

# Visual of MA and Close

In [32]:
import plotly
import plotly.plotly as py
import plotly.graph_objs as go

In [33]:
trace1 = go.Scatter(
    x = btc_df['Date'],
    y = btc_df['Close'],
    mode = 'Lines',
    name = 'Bitcoin Close Price'
)
trace2 = go.Scatter(
    x = btc_df['Date'],
    y = btc_df['MA'],
    mode = 'Lines',
    name = 'Bitcoin Moving Average'
)

data = [trace1,trace2]

py.iplot(data, filename='basic-scatter')