In [1]:
import numpy as np
import pandas as pd

In [4]:
eth_df = pd.read_csv('/Users/newuser/Dropbox/Datamining/Crypto-Pirates/Datasets/ethereum_price.csv')
new_index = eth_df['Date']
eth_df.head()

           Date    Open    High     Low   Close       Volume      Market Cap
0  Nov 07, 2017  298.57  304.84  290.77  294.66  540,766,000  28,533,300,000
1  Nov 06, 2017  296.43  305.42  293.72  298.89  579,359,000  28,322,700,000
2  Nov 05, 2017  300.04  301.37  295.12  296.26  337,658,000  28,661,500,000
3  Nov 04, 2017  305.48  305.48  295.80  300.47  416,479,000  29,175,300,000
4  Nov 03, 2017  288.50  308.31  287.69  305.71  646,340,000  27,547,400,000

### Adding Columns

In [5]:
eth_df['Daily Range'] = eth_df['High'] - eth_df['Low']
eth_df.head()

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range
0,"Nov 07, 2017",298.57,304.84,290.77,294.66,"540,766,000","28,533,300,000",14.07
1,"Nov 06, 2017",296.43,305.42,293.72,298.89,"579,359,000","28,322,700,000",11.70
2,"Nov 05, 2017",300.04,301.37,295.12,296.26,"337,658,000","28,661,500,000",6.25
3,"Nov 04, 2017",305.48,305.48,295.80,300.47,"416,479,000","29,175,300,000",9.68
4,"Nov 03, 2017",288.50,308.31,287.69,305.71,"646,340,000","27,547,400,000",20.62

### Adding the mean

In [6]:
eth_df['Daily Range'].mean()

5.8695899150485422

In [8]:
'''
1. Add new column. 2. Define Conditions. 3. Change necessary value to the column that meets the condition.
'''

eth_df['Significant'] = ''

cond1 = eth_df['Daily Range'] > eth_df['Daily Range'].mean()
cond2 = eth_df['Daily Range'] < eth_df['Daily Range'].mean()

yes = eth_df[cond1]
no = eth_df[cond2]

column = 'Significant'
eth_df.loc[cond1, column] = 'Yes'
eth_df.loc[cond2, column] = 'No'
eth_df.set_index('Significant')

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range
Significant,,,,,,,,
Yes,"Nov 07, 2017",298.570000,304.840000,290.770000,294.660000,"540,766,000","28,533,300,000",14.070000
Yes,"Nov 06, 2017",296.430000,305.420000,293.720000,298.890000,"579,359,000","28,322,700,000",11.700000
Yes,"Nov 05, 2017",300.040000,301.370000,295.120000,296.260000,"337,658,000","28,661,500,000",6.250000
Yes,"Nov 04, 2017",305.480000,305.480000,295.800000,300.470000,"416,479,000","29,175,300,000",9.680000
Yes,"Nov 03, 2017",288.500000,308.310000,287.690000,305.710000,"646,340,000","27,547,400,000",20.620000
Yes,"Nov 02, 2017",290.730000,293.910000,281.170000,287.430000,"904,901,000","27,754,200,000",12.740000
Yes,"Nov 01, 2017",305.760000,306.400000,290.580000,291.690000,"553,864,000","29,183,600,000",15.820000
No,"Oct 31, 2017",307.380000,310.550000,305.880000,305.880000,"369,583,000","29,331,500,000",4.670000
Yes,"Oct 30, 2017",304.780000,310.500000,304.350000,307.750000,"331,442,000","29,077,600,000",6.150000
Yes,"Oct 29, 2017",296.380000,313.750000,296.380000,305.090000,"551,752,000","28,270,200,000",17.370000
Yes,"Oct 28, 2017",297.920000,300.360000,293.580000,296.300000,"264,424,000","28,410,400,000",6.780000
No,"Oct 27, 2017",296.510000,299.260000,294.060000,297.420000,"257,169,000","28,270,100,000",5.200000
No,"Oct 26, 2017",298.020000,301.070000,295.220000,296.530000,"270,273,000","28,408,400,000",5.850000
Yes,"Oct 25, 2017",298.440000,301.850000,290.720000,297.930000,"325,040,000","28,442,000,000",11.130000
Yes,"Oct 24, 2017",287.120000,311.960000,282.660000,298.330000,"684,281,000","27,357,500,000",29.300000
Yes,"Oct 23, 2017",295.100000,295.750000,277.570000,286.950000,"482,336,000","28,111,400,000",18.180000
Yes,"Oct 22, 2017",300.550000,305.500000,292.810000,295.450000,"327,387,000","28,624,800,000",12.690000
Yes,"Oct 21, 2017",303.570000,303.930000,291.770000,300.190000,"408,014,000","28,906,600,000",12.160000
Yes,"Oct 20, 2017",308.050000,311.440000,303.490000,304.010000,"396,673,000","29,326,300,000",7.950000
Yes,"Oct 19, 2017",314.540000,316.710000,305.830000,308.090000,"349,830,000","29,937,900,000",10.880000
Yes,"Oct 18, 2017",316.940000,317.240000,290.640000,314.320000,"606,114,000","30,160,500,000",26.600000
Yes,"Oct 17, 2017",333.480000,333.480000,311.790000,317.080000,"509,924,000","31,727,700,000",21.690000
Yes,"Oct 16, 2017",336.710000,349.350000,332.040000,333.380000,"692,885,000","32,029,200,000",17.310000
Yes,"Oct 15, 2017",339.530000,342.720000,320.430000,336.600000,"635,407,000","32,292,100,000",22.290000
Yes,"Oct 14, 2017",338.850000,347.980000,334.700000,339.630000,"516,562,000","32,222,400,000",13.280000
Yes,"Oct 13, 2017",304.080000,348.600000,299.660000,338.760000,"1,304,360,000","28,911,100,000",48.940000
No,"Oct 12, 2017",303.500000,309.150000,303.290000,304.140000,"527,557,000","28,851,200,000",5.860000
No,"Oct 11, 2017",301.180000,304.390000,299.100000,303.460000,"264,146,000","28,626,300,000",5.290000
Yes,"Oct 10, 2017",297.600000,306.150000,293.170000,299.870000,"359,706,000","28,281,400,000",12.980000
Yes,"Oct 09, 2017",308.670000,309.310000,288.190000,297.390000,"559,467,000","29,328,300,000",21.120000
...,...,...,...,...,...,...,...,...
No,"Sep 05, 2015",1.280000,1.340000,1.270000,1.340000,"448,453","93,402,300",0.070000
No,"Sep 04, 2015",1.260000,1.300000,1.240000,1.270000,"474,391","92,234,100",0.060000
No,"Sep 03, 2015",1.300000,1.310000,1.210000,1.260000,"702,991","94,418,700",0.100000
No,"Sep 02, 2015",1.350000,1.350000,1.260000,1.290000,"883,769","98,504,600",0.090000
No,"Sep 01, 2015",1.350000,1.390000,1.340000,1.350000,"778,862","98,617,200",0.050000
No,"Aug 31, 2015",1.320000,1.400000,1.200000,1.360000,"1,447,180","96,251,000",0.200000
No,"Aug 30, 2015",1.180000,1.370000,1.170000,1.320000,"1,337,650","86,145,900",0.200000
No,"Aug 29, 2015",1.190000,1.210000,1.150000,1.180000,"375,377","86,887,600",0.060000
No,"Aug 28, 2015",1.150000,1.210000,1.120000,1.190000,"721,872","83,521,700",0.090000
No,"Aug 27, 2015",1.170000,1.190000,1.140000,1.150000,"686,662","85,106,100",0.050000
No,"Aug 26, 2015",1.130000,1.200000,1.060000,1.160000,"1,056,750","82,384,400",0.140000
No,"Aug 25, 2015",1.230000,1.240000,1.130000,1.140000,"1,307,180","89,321,900",0.110000
No,"Aug 24, 2015",1.350000,1.360000,1.230000,1.230000,"924,920","97,791,600",0.130000
No,"Aug 23, 2015",1.380000,1.410000,1.300000,1.350000,"1,589,300","99,894,500",0.110000
No,"Aug 22, 2015",1.400000,1.480000,1.350000,1.380000,"948,310","101,404,000",0.130000
No,"Aug 21, 2015",1.480000,1.560000,1.350000,1.400000,"2,020,970","107,266,000",0.210000
No,"Aug 20, 2015",1.250000,1.530000,1.250000,1.460000,"2,843,760","90,809,000",0.280000
No,"Aug 19, 2015",1.170000,1.320000,1.170000,1.260000,"1,486,240","84,663,900",0.150000
No,"Aug 18, 2015",1.220000,1.330000,1.090000,1.090000,"1,485,680","88,143,200",0.240000
No,"Aug 17, 2015",1.580000,1.580000,1.190000,1.200000,"1,942,830","95,819,700",0.390000
No,"Aug 16, 2015",1.680000,1.700000,1.090000,1.570000,"3,550,790","102,028,000",0.610000
No,"Aug 15, 2015",1.800000,1.880000,1.570000,1.690000,"2,554,360","109,160,000",0.310000
No,"Aug 14, 2015",1.810000,2.260000,1.750000,1.830000,"4,637,030","109,594,000",0.510000
No,"Aug 13, 2015",1.220000,1.970000,1.170000,1.830000,"4,068,680","73,935,400",0.800000
No,"Aug 12, 2015",1.060000,1.290000,0.883608,1.220000,"2,150,620","64,018,400",0.406392
No,"Aug 11, 2015",0.708087,1.130000,0.663235,1.070000,"1,463,100","42,796,500",0.466765
No,"Aug 10, 2015",0.713989,0.729854,0.636546,0.708448,"405,283","43,130,000",0.093308
No,"Aug 09, 2015",0.706136,0.879810,0.629191,0.701897,"532,170","42,637,600",0.250619
No,"Aug 08, 2015",2.790000,2.800000,0.714725,0.753325,"674,188","167,911,000",2.085275
No,"Aug 07, 2015",2.830000,3.540000,2.520000,2.770000,"164,329",-,1.020000

### Reading in BTC, LTC, ETH, MONERO

In [9]:
eth1 = pd.read_csv('/Users/newuser/Dropbox/Datamining/Crypto-Pirates/Datasets/bitcoin_price.csv')
eth2 = pd.read_csv('/Users/newuser/Dropbox/Datamining/Crypto-Pirates/Datasets/monero_price.csv')
eth3 = pd.read_csv('/Users/newuser/Dropbox/Datamining/Crypto-Pirates/Datasets/litecoin_price.csv')
eth4 = pd.read_csv('/Users/newuser/Dropbox/Datamining/Crypto-Pirates/Datasets/ethereum_price.csv')

### Concatenating 4 Data Frames

In [12]:
eth1['CC'] = 'Bitcoin'
eth2['CC'] = 'Monero'
eth3['CC'] = 'Litecoin'
eth4['CC'] = 'Ethereum'
master_df = pd.concat([eth1,eth2,eth3,eth4])
# set new index
master_df.set_index('CC', inplace=True)
master_df

,Date,Open,High,Low,Close,Volume,Market Cap
CC,,,,,,,
Bitcoin,"Oct 03, 2017",4408.460000,4432.470000,4258.890000,4317.480000,"1,288,020,000","73,181,300,000"
Bitcoin,"Oct 02, 2017",4395.810000,4470.230000,4377.460000,4409.320000,"1,431,730,000","72,963,200,000"
Bitcoin,"Oct 01, 2017",4341.050000,4403.740000,4269.810000,4403.740000,"1,208,210,000","72,047,300,000"
Bitcoin,"Sep 30, 2017",4166.110000,4358.430000,4160.860000,4338.710000,"1,207,450,000","69,136,600,000"
Bitcoin,"Sep 29, 2017",4171.620000,4214.630000,4039.290000,4163.070000,"1,367,050,000","69,219,200,000"
Bitcoin,"Sep 28, 2017",4197.130000,4279.310000,4109.700000,4174.730000,"1,712,320,000","69,633,200,000"
Bitcoin,"Sep 27, 2017",3892.940000,4210.050000,3884.820000,4200.670000,"1,686,880,000","64,579,200,000"
Bitcoin,"Sep 26, 2017",3928.410000,3969.890000,3869.900000,3892.350000,"1,043,740,000","65,161,000,000"
Bitcoin,"Sep 25, 2017",3681.580000,3950.250000,3681.580000,3926.070000,"1,374,210,000","61,061,100,000"
Bitcoin,"Sep 24, 2017",3796.150000,3796.150000,3666.900000,3682.840000,"768,015,000","62,954,300,000"
Bitcoin,"Sep 23, 2017",3629.920000,3819.210000,3594.580000,3792.400000,"928,114,000","60,190,000,000"
Bitcoin,"Sep 22, 2017",3628.020000,3758.270000,3553.530000,3630.700000,"1,194,830,000","60,152,300,000"
Bitcoin,"Sep 21, 2017",3901.470000,3916.420000,3613.630000,3631.040000,"1,411,480,000","64,677,600,000"
Bitcoin,"Sep 20, 2017",3916.360000,4031.390000,3857.730000,3905.950000,"1,213,830,000","64,918,500,000"
Bitcoin,"Sep 19, 2017",4073.790000,4094.070000,3868.870000,3924.970000,"1,563,980,000","67,520,300,000"
Bitcoin,"Sep 18, 2017",3591.090000,4079.230000,3591.090000,4065.200000,"1,943,210,000","59,514,100,000"
Bitcoin,"Sep 17, 2017",3606.280000,3664.810000,3445.640000,3582.880000,"1,239,150,000","59,757,800,000"
Bitcoin,"Sep 16, 2017",3637.750000,3808.840000,3487.790000,3625.040000,"1,818,400,000","60,271,600,000"
Bitcoin,"Sep 15, 2017",3166.300000,3733.450000,2946.620000,3637.520000,"4,148,070,000","52,453,500,000"
Bitcoin,"Sep 14, 2017",3875.370000,3920.600000,3153.860000,3154.950000,"2,716,310,000","64,191,600,000"
Bitcoin,"Sep 13, 2017",4131.980000,4131.980000,3789.920000,3882.590000,"2,219,410,000","68,432,200,000"
Bitcoin,"Sep 12, 2017",4168.880000,4344.650000,4085.220000,4130.810000,"1,864,530,000","69,033,400,000"
Bitcoin,"Sep 11, 2017",4122.470000,4261.670000,4099.400000,4161.270000,"1,557,330,000","68,256,000,000"
Bitcoin,"Sep 10, 2017",4229.340000,4245.440000,3951.040000,4122.940000,"1,679,090,000","70,018,100,000"
Bitcoin,"Sep 09, 2017",4229.810000,4308.820000,4114.110000,4226.060000,"1,386,230,000","70,017,200,000"
Bitcoin,"Sep 08, 2017",4605.160000,4661.000000,4075.180000,4228.750000,"2,700,890,000","76,220,200,000"
Bitcoin,"Sep 07, 2017",4589.140000,4655.040000,4491.330000,4599.880000,"1,844,620,000","75,945,000,000"
Bitcoin,"Sep 06, 2017",4376.590000,4617.250000,4376.590000,4597.120000,"2,172,100,000","72,418,700,000"
Bitcoin,"Sep 05, 2017",4228.290000,4427.840000,3998.110000,4376.530000,"2,697,970,000","69,954,400,000"
Bitcoin,"Sep 04, 2017",4591.630000,4591.630000,4108.400000,4236.310000,"2,987,330,000","75,955,500,000"
...,...,...,...,...,...,...,...
Ethereum,"Sep 05, 2015",1.280000,1.340000,1.270000,1.340000,"448,453","93,402,300"
Ethereum,"Sep 04, 2015",1.260000,1.300000,1.240000,1.270000,"474,391","92,234,100"
Ethereum,"Sep 03, 2015",1.300000,1.310000,1.210000,1.260000,"702,991","94,418,700"
Ethereum,"Sep 02, 2015",1.350000,1.350000,1.260000,1.290000,"883,769","98,504,600"
Ethereum,"Sep 01, 2015",1.350000,1.390000,1.340000,1.350000,"778,862","98,617,200"
Ethereum,"Aug 31, 2015",1.320000,1.400000,1.200000,1.360000,"1,447,180","96,251,000"
Ethereum,"Aug 30, 2015",1.180000,1.370000,1.170000,1.320000,"1,337,650","86,145,900"
Ethereum,"Aug 29, 2015",1.190000,1.210000,1.150000,1.180000,"375,377","86,887,600"
Ethereum,"Aug 28, 2015",1.150000,1.210000,1.120000,1.190000,"721,872","83,521,700"
Ethereum,"Aug 27, 2015",1.170000,1.190000,1.140000,1.150000,"686,662","85,106,100"
Ethereum,"Aug 26, 2015",1.130000,1.200000,1.060000,1.160000,"1,056,750","82,384,400"
Ethereum,"Aug 25, 2015",1.230000,1.240000,1.130000,1.140000,"1,307,180","89,321,900"
Ethereum,"Aug 24, 2015",1.350000,1.360000,1.230000,1.230000,"924,920","97,791,600"
Ethereum,"Aug 23, 2015",1.380000,1.410000,1.300000,1.350000,"1,589,300","99,894,500"
Ethereum,"Aug 22, 2015",1.400000,1.480000,1.350000,1.380000,"948,310","101,404,000"
Ethereum,"Aug 21, 2015",1.480000,1.560000,1.350000,1.400000,"2,020,970","107,266,000"
Ethereum,"Aug 20, 2015",1.250000,1.530000,1.250000,1.460000,"2,843,760","90,809,000"
Ethereum,"Aug 19, 2015",1.170000,1.320000,1.170000,1.260000,"1,486,240","84,663,900"
Ethereum,"Aug 18, 2015",1.220000,1.330000,1.090000,1.090000,"1,485,680","88,143,200"
Ethereum,"Aug 17, 2015",1.580000,1.580000,1.190000,1.200000,"1,942,830","95,819,700"
Ethereum,"Aug 16, 2015",1.680000,1.700000,1.090000,1.570000,"3,550,790","102,028,000"
Ethereum,"Aug 15, 2015",1.800000,1.880000,1.570000,1.690000,"2,554,360","109,160,000"
Ethereum,"Aug 14, 2015",1.810000,2.260000,1.750000,1.830000,"4,637,030","109,594,000"
Ethereum,"Aug 13, 2015",1.220000,1.970000,1.170000,1.830000,"4,068,680","73,935,400"
Ethereum,"Aug 12, 2015",1.060000,1.290000,0.883608,1.220000,"2,150,620","64,018,400"
Ethereum,"Aug 11, 2015",0.708087,1.130000,0.663235,1.070000,"1,463,100","42,796,500"
Ethereum,"Aug 10, 2015",0.713989,0.729854,0.636546,0.708448,"405,283","43,130,000"
Ethereum,"Aug 09, 2015",0.706136,0.879810,0.629191,0.701897,"532,170","42,637,600"
Ethereum,"Aug 08, 2015",2.790000,2.800000,0.714725,0.753325,"674,188","167,911,000"
Ethereum,"Aug 07, 2015",2.830000,3.540000,2.520000,2.770000,"164,329",-

### Means of the 4 CC's

In [13]:
master_df.groupby('CC').mean()

                Open        High         Low       Close
CC
Bitcoin   716.325031  736.272765  696.893778  718.804210
Ethereum   68.758298   71.660280   65.790691   69.098058
Litecoin    9.302488    9.737444    8.843586    9.330123
Monero     10.668743   11.325722   10.091139   10.740487

In [14]:
master_df.groupby('CC').describe().transpose()

CC               Bitcoin    Ethereum     Litecoin       Monero
Open  count  1620.000000  824.000000  1620.000000  1231.000000
      mean    716.325031   68.758298     9.302488    10.668743
      std     841.566485  112.338764    13.103364    22.366494
      min      68.500000    0.431589     1.150000     0.220121
      25%     261.080000    6.387500     3.070000     0.514239
      50%     448.150000   11.390000     3.845000     1.380000
      75%     705.347500   49.925000     8.675000     9.380000
      max    4901.420000  397.590000    85.830000   144.240000
High  count  1620.000000  824.000000  1620.000000  1231.000000
      mean    736.272765   71.660280     9.737444    11.325722
      std     870.749477  116.531656    13.847245    23.724047
      min      74.560000    0.482988     1.340000     0.251757
      25%     266.462500    6.642500     3.120000     0.542731
      50%     454.645000   11.695000     3.910000     1.500000
      75%     724.555000   51.090000     9.262500     9.810000
      max    4975.040000  414.760000    92.070000   154.580000
Low   count  1620.000000  824.000000  1620.000000  1231.000000
      mean    696.893778   65.790691     8.843586    10.091139
      std     812.844163  107.616355    12.272203    21.023287
      min      65.530000    0.420897     1.110000     0.212967
      25%     255.740000    6.032500     2.990000     0.494739
      50%     442.785000   11.080000     3.790000     1.240000
      75%     688.002500   48.217500     8.435000     8.980000
      max    4678.530000  383.470000    75.590000   136.490000
Close count  1620.000000  824.000000  1620.000000  1231.000000
      mean    718.804210   69.098058     9.330123    10.740487
      std     846.165337  112.587105    13.145707    22.491004
      min      68.430000    0.434829     1.160000     0.223522
      25%     261.412500    6.460000     3.060000     0.513035
      50%     448.190000   11.390000     3.840000     1.390000
      75%     705.280000   50.032500     8.712500     9.430000
      max    4892.010000  401.490000    86.040000   145.400000