In [3]:
import numpy as np
import pandas as pd

In [4]:
eth_df = pd.read_csv('/Users/troy/Github/courses/crypto-pirates/cryptocurrencypricehistory/ethereum_price.csv')
new_index = eth_df['Date']
eth_df.head()

        Date      Open      High       Low     Close     Volume   Market Cap
0   7-Aug-15  2.830000  3.540000  2.520000  2.770000    164,329            -
1   8-Aug-15  2.790000  2.800000  0.714725  0.753325    674,188  167,911,000
2   9-Aug-15  0.706136  0.879810  0.629191  0.701897    532,170   42,637,600
3  10-Aug-15  0.713989  0.729854  0.636546  0.708448    405,283   43,130,000
4  11-Aug-15  0.708087  1.130000  0.663235  1.070000  1,463,100   42,796,500

### Adding Columns

In [5]:
eth_df['Daily Range'] = eth_df['High'] - eth_df['Low']
eth_df.head()

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range
0,7-Aug-15,2.830000,3.540000,2.520000,2.770000,"164,329",-,1.020000
1,8-Aug-15,2.790000,2.800000,0.714725,0.753325,"674,188","167,911,000",2.085275
2,9-Aug-15,0.706136,0.879810,0.629191,0.701897,"532,170","42,637,600",0.250619
3,10-Aug-15,0.713989,0.729854,0.636546,0.708448,"405,283","43,130,000",0.093308
4,11-Aug-15,0.708087,1.130000,0.663235,1.070000,"1,463,100","42,796,500",0.466765

In [6]:
eth_df['MA'] = eth_df['Close'].rolling(5).mean()
eth_df

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range,MA
0,7-Aug-15,2.830000,3.540000,2.520000,2.770000,"164,329",-,1.020000,NaN
1,8-Aug-15,2.790000,2.800000,0.714725,0.753325,"674,188","167,911,000",2.085275,NaN
2,9-Aug-15,0.706136,0.879810,0.629191,0.701897,"532,170","42,637,600",0.250619,NaN
3,10-Aug-15,0.713989,0.729854,0.636546,0.708448,"405,283","43,130,000",0.093308,NaN
4,11-Aug-15,0.708087,1.130000,0.663235,1.070000,"1,463,100","42,796,500",0.466765,1.200734
5,12-Aug-15,1.060000,1.290000,0.883608,1.220000,"2,150,620","64,018,400",0.406392,0.890734
6,13-Aug-15,1.220000,1.970000,1.170000,1.830000,"4,068,680","73,935,400",0.800000,1.106069
7,14-Aug-15,1.810000,2.260000,1.750000,1.830000,"4,637,030","109,594,000",0.510000,1.331690
8,15-Aug-15,1.800000,1.880000,1.570000,1.690000,"2,554,360","109,160,000",0.310000,1.528000
9,16-Aug-15,1.680000,1.700000,1.090000,1.570000,"3,550,790","102,028,000",0.610000,1.628000
10,17-Aug-15,1.580000,1.580000,1.190000,1.200000,"1,942,830","95,819,700",0.390000,1.624000
11,18-Aug-15,1.220000,1.330000,1.090000,1.090000,"1,485,680","88,143,200",0.240000,1.476000
12,19-Aug-15,1.170000,1.320000,1.170000,1.260000,"1,486,240","84,663,900",0.150000,1.362000
13,20-Aug-15,1.250000,1.530000,1.250000,1.460000,"2,843,760","90,809,000",0.280000,1.316000
14,21-Aug-15,1.480000,1.560000,1.350000,1.400000,"2,020,970","107,266,000",0.210000,1.282000
15,22-Aug-15,1.400000,1.480000,1.350000,1.380000,"948,310","101,404,000",0.130000,1.318000
16,23-Aug-15,1.380000,1.410000,1.300000,1.350000,"1,589,300","99,894,500",0.110000,1.370000
17,24-Aug-15,1.350000,1.360000,1.230000,1.230000,"924,920","97,791,600",0.130000,1.364000
18,25-Aug-15,1.230000,1.240000,1.130000,1.140000,"1,307,180","89,321,900",0.110000,1.300000
19,26-Aug-15,1.130000,1.200000,1.060000,1.160000,"1,056,750","82,384,400",0.140000,1.252000
20,27-Aug-15,1.170000,1.190000,1.140000,1.150000,"686,662","85,106,100",0.050000,1.206000
21,28-Aug-15,1.150000,1.210000,1.120000,1.190000,"721,872","83,521,700",0.090000,1.174000
22,29-Aug-15,1.190000,1.210000,1.150000,1.180000,"375,377","86,887,600",0.060000,1.164000
23,30-Aug-15,1.180000,1.370000,1.170000,1.320000,"1,337,650","86,145,900",0.200000,1.200000
24,31-Aug-15,1.320000,1.400000,1.200000,1.360000,"1,447,180","96,251,000",0.200000,1.240000
25,1-Sep-15,1.350000,1.390000,1.340000,1.350000,"778,862","98,617,200",0.050000,1.280000
26,2-Sep-15,1.350000,1.350000,1.260000,1.290000,"883,769","98,504,600",0.090000,1.300000
27,3-Sep-15,1.300000,1.310000,1.210000,1.260000,"702,991","94,418,700",0.100000,1.316000
28,4-Sep-15,1.260000,1.300000,1.240000,1.270000,"474,391","92,234,100",0.060000,1.306000
29,5-Sep-15,1.280000,1.340000,1.270000,1.340000,"448,453","93,402,300",0.070000,1.302000
...,...,...,...,...,...,...,...,...,...
759,4-Sep-17,347.130000,347.130000,279.940000,295.170000,"1,801,690,000","32,774,000,000",67.190000,352.482000
760,5-Sep-17,297.570000,318.570000,268.290000,312.990000,"1,551,050,000","28,100,000,000",50.280000,338.472000
761,6-Sep-17,313.800000,334.660000,313.490000,334.340000,"1,058,830,000","29,639,100,000",21.170000,327.792000
762,7-Sep-17,333.520000,333.520000,319.940000,329.430000,"718,624,000","31,507,500,000",13.580000,323.882000
763,8-Sep-17,329.640000,329.640000,285.160000,296.500000,"1,098,780,000","31,147,200,000",44.480000,313.686000
764,9-Sep-17,296.170000,299.890000,287.220000,294.400000,"528,621,000","27,990,500,000",12.670000,313.532000
765,10-Sep-17,294.060000,294.760000,268.970000,288.750000,"698,326,000","27,797,200,000",25.790000,308.684000
766,11-Sep-17,289.750000,300.690000,286.690000,294.530000,"571,307,000","27,394,400,000",14.000000,300.722000
767,12-Sep-17,294.630000,311.190000,287.230000,291.460000,"753,144,000","27,861,800,000",23.960000,293.128000
768,13-Sep-17,291.120000,291.120000,260.610000,277.110000,"921,692,000","27,535,700,000",30.510000,289.250000
769,14-Sep-17,276.590000,280.840000,213.910000,213.910000,"1,184,590,000","26,166,100,000",66.930000,273.152000
770,15-Sep-17,215.220000,258.650000,195.030000,250.460000,"1,935,700,000","20,364,900,000",63.620000,265.494000
771,16-Sep-17,250.870000,262.590000,238.220000,246.520000,"711,737,000","23,742,600,000",24.370000,255.892000
772,17-Sep-17,245.850000,257.000000,235.240000,251.750000,"427,452,000","23,272,500,000",21.760000,247.950000
773,18-Sep-17,252.230000,293.500000,252.230000,293.500000,"1,127,750,000","23,881,200,000",41.270000,251.228000
774,19-Sep-17,293.660000,295.770000,274.480000,282.800000,"646,909,000","27,809,300,000",21.290000,265.006000
775,20-Sep-17,282.010000,290.890000,278.050000,283.740000,"421,404,000","26,712,400,000",12.840000,271.662000
776,21-Sep-17,283.260000,286.610000,255.020000,258.580000,"601,266,000","26,836,000,000",31.590000,274.074000
777,22-Sep-17,258.110000,270.540000,256.220000,264.310000,"430,081,000","24,458,400,000",14.320000,276.586000
778,23-Sep-17,264.600000,286.170000,261.120000,286.170000,"450,934,000","25,077,100,000",25.050000,275.120000
779,24-Sep-17,286.210000,292.950000,278.130000,282.480000,"571,411,000","27,129,900,000",14.820000,275.056000
780,25-Sep-17,282.220000,293.510000,281.880000,292.330000,"483,161,000","26,755,500,000",11.630000,276.774000
781,26-Sep-17,292.350000,293.750000,287.020000,287.440000,"345,801,000","27,720,000,000",6.730000,282.546000
782,27-Sep-17,287.020000,308.010000,286.820000,306.470000,"550,244,000","27,219,400,000",21.190000,290.978000
783,28-Sep-17,306.470000,307.200000,295.470000,299.150000,"501,894,000","29,068,700,000",11.730000,293.574000
784,29-Sep-17,299.120000,299.920000,279.770000,291.470000,"541,375,000","28,375,900,000",20.150000,295.372000
785,30-Sep-17,291.480000,303.960000,291.110000,301.460000,"332,439,000","27,655,200,000",12.850000,297.198000
786,1-Oct-17,301.550000,303.190000,295.060000,302.340000,"306,185,000","28,615,200,000",8.130000,300.178000
787,2-Oct-17,302.480000,302.920000,294.580000,297.480000,"339,443,000","28,708,500,000",8.340000,298.380000
788,3-Oct-17,297.480000,300.110000,288.130000,292.460000,"321,680,000","28,238,500,000",11.980000,297.042000

### Adding the mean

In [7]:
eth_df['Daily Range'].mean()

5.5231205196451203

In [8]:
'''
1. Add new column. 2. Define Conditions. 3. Change necessary value to the column that meets the condition.
'''

eth_df['Significant'] = ''

cond1 = eth_df['Daily Range'] > eth_df['Daily Range'].mean()
cond2 = eth_df['Daily Range'] < eth_df['Daily Range'].mean()

yes = eth_df[cond1]
no = eth_df[cond2]

column = 'Significant'
eth_df.loc[cond1, column] = 'Yes'
eth_df.loc[cond2, column] = 'No'
eth_df.set_index('Significant', inplace=True)
eth_df

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range,MA
Significant,,,,,,,,,
No,7-Aug-15,2.830000,3.540000,2.520000,2.770000,"164,329",-,1.020000,NaN
No,8-Aug-15,2.790000,2.800000,0.714725,0.753325,"674,188","167,911,000",2.085275,NaN
No,9-Aug-15,0.706136,0.879810,0.629191,0.701897,"532,170","42,637,600",0.250619,NaN
No,10-Aug-15,0.713989,0.729854,0.636546,0.708448,"405,283","43,130,000",0.093308,NaN
No,11-Aug-15,0.708087,1.130000,0.663235,1.070000,"1,463,100","42,796,500",0.466765,1.200734
No,12-Aug-15,1.060000,1.290000,0.883608,1.220000,"2,150,620","64,018,400",0.406392,0.890734
No,13-Aug-15,1.220000,1.970000,1.170000,1.830000,"4,068,680","73,935,400",0.800000,1.106069
No,14-Aug-15,1.810000,2.260000,1.750000,1.830000,"4,637,030","109,594,000",0.510000,1.331690
No,15-Aug-15,1.800000,1.880000,1.570000,1.690000,"2,554,360","109,160,000",0.310000,1.528000
No,16-Aug-15,1.680000,1.700000,1.090000,1.570000,"3,550,790","102,028,000",0.610000,1.628000
No,17-Aug-15,1.580000,1.580000,1.190000,1.200000,"1,942,830","95,819,700",0.390000,1.624000
No,18-Aug-15,1.220000,1.330000,1.090000,1.090000,"1,485,680","88,143,200",0.240000,1.476000
No,19-Aug-15,1.170000,1.320000,1.170000,1.260000,"1,486,240","84,663,900",0.150000,1.362000
No,20-Aug-15,1.250000,1.530000,1.250000,1.460000,"2,843,760","90,809,000",0.280000,1.316000
No,21-Aug-15,1.480000,1.560000,1.350000,1.400000,"2,020,970","107,266,000",0.210000,1.282000
No,22-Aug-15,1.400000,1.480000,1.350000,1.380000,"948,310","101,404,000",0.130000,1.318000
No,23-Aug-15,1.380000,1.410000,1.300000,1.350000,"1,589,300","99,894,500",0.110000,1.370000
No,24-Aug-15,1.350000,1.360000,1.230000,1.230000,"924,920","97,791,600",0.130000,1.364000
No,25-Aug-15,1.230000,1.240000,1.130000,1.140000,"1,307,180","89,321,900",0.110000,1.300000
No,26-Aug-15,1.130000,1.200000,1.060000,1.160000,"1,056,750","82,384,400",0.140000,1.252000
No,27-Aug-15,1.170000,1.190000,1.140000,1.150000,"686,662","85,106,100",0.050000,1.206000
No,28-Aug-15,1.150000,1.210000,1.120000,1.190000,"721,872","83,521,700",0.090000,1.174000
No,29-Aug-15,1.190000,1.210000,1.150000,1.180000,"375,377","86,887,600",0.060000,1.164000
No,30-Aug-15,1.180000,1.370000,1.170000,1.320000,"1,337,650","86,145,900",0.200000,1.200000
No,31-Aug-15,1.320000,1.400000,1.200000,1.360000,"1,447,180","96,251,000",0.200000,1.240000
No,1-Sep-15,1.350000,1.390000,1.340000,1.350000,"778,862","98,617,200",0.050000,1.280000
No,2-Sep-15,1.350000,1.350000,1.260000,1.290000,"883,769","98,504,600",0.090000,1.300000
No,3-Sep-15,1.300000,1.310000,1.210000,1.260000,"702,991","94,418,700",0.100000,1.316000
No,4-Sep-15,1.260000,1.300000,1.240000,1.270000,"474,391","92,234,100",0.060000,1.306000
No,5-Sep-15,1.280000,1.340000,1.270000,1.340000,"448,453","93,402,300",0.070000,1.302000
...,...,...,...,...,...,...,...,...,...
Yes,4-Sep-17,347.130000,347.130000,279.940000,295.170000,"1,801,690,000","32,774,000,000",67.190000,352.482000
Yes,5-Sep-17,297.570000,318.570000,268.290000,312.990000,"1,551,050,000","28,100,000,000",50.280000,338.472000
Yes,6-Sep-17,313.800000,334.660000,313.490000,334.340000,"1,058,830,000","29,639,100,000",21.170000,327.792000
Yes,7-Sep-17,333.520000,333.520000,319.940000,329.430000,"718,624,000","31,507,500,000",13.580000,323.882000
Yes,8-Sep-17,329.640000,329.640000,285.160000,296.500000,"1,098,780,000","31,147,200,000",44.480000,313.686000
Yes,9-Sep-17,296.170000,299.890000,287.220000,294.400000,"528,621,000","27,990,500,000",12.670000,313.532000
Yes,10-Sep-17,294.060000,294.760000,268.970000,288.750000,"698,326,000","27,797,200,000",25.790000,308.684000
Yes,11-Sep-17,289.750000,300.690000,286.690000,294.530000,"571,307,000","27,394,400,000",14.000000,300.722000
Yes,12-Sep-17,294.630000,311.190000,287.230000,291.460000,"753,144,000","27,861,800,000",23.960000,293.128000
Yes,13-Sep-17,291.120000,291.120000,260.610000,277.110000,"921,692,000","27,535,700,000",30.510000,289.250000
Yes,14-Sep-17,276.590000,280.840000,213.910000,213.910000,"1,184,590,000","26,166,100,000",66.930000,273.152000
Yes,15-Sep-17,215.220000,258.650000,195.030000,250.460000,"1,935,700,000","20,364,900,000",63.620000,265.494000
Yes,16-Sep-17,250.870000,262.590000,238.220000,246.520000,"711,737,000","23,742,600,000",24.370000,255.892000
Yes,17-Sep-17,245.850000,257.000000,235.240000,251.750000,"427,452,000","23,272,500,000",21.760000,247.950000
Yes,18-Sep-17,252.230000,293.500000,252.230000,293.500000,"1,127,750,000","23,881,200,000",41.270000,251.228000
Yes,19-Sep-17,293.660000,295.770000,274.480000,282.800000,"646,909,000","27,809,300,000",21.290000,265.006000
Yes,20-Sep-17,282.010000,290.890000,278.050000,283.740000,"421,404,000","26,712,400,000",12.840000,271.662000
Yes,21-Sep-17,283.260000,286.610000,255.020000,258.580000,"601,266,000","26,836,000,000",31.590000,274.074000
Yes,22-Sep-17,258.110000,270.540000,256.220000,264.310000,"430,081,000","24,458,400,000",14.320000,276.586000
Yes,23-Sep-17,264.600000,286.170000,261.120000,286.170000,"450,934,000","25,077,100,000",25.050000,275.120000
Yes,24-Sep-17,286.210000,292.950000,278.130000,282.480000,"571,411,000","27,129,900,000",14.820000,275.056000
Yes,25-Sep-17,282.220000,293.510000,281.880000,292.330000,"483,161,000","26,755,500,000",11.630000,276.774000
Yes,26-Sep-17,292.350000,293.750000,287.020000,287.440000,"345,801,000","27,720,000,000",6.730000,282.546000
Yes,27-Sep-17,287.020000,308.010000,286.820000,306.470000,"550,244,000","27,219,400,000",21.190000,290.978000
Yes,28-Sep-17,306.470000,307.200000,295.470000,299.150000,"501,894,000","29,068,700,000",11.730000,293.574000
Yes,29-Sep-17,299.120000,299.920000,279.770000,291.470000,"541,375,000","28,375,900,000",20.150000,295.372000
Yes,30-Sep-17,291.480000,303.960000,291.110000,301.460000,"332,439,000","27,655,200,000",12.850000,297.198000
Yes,1-Oct-17,301.550000,303.190000,295.060000,302.340000,"306,185,000","28,615,200,000",8.130000,300.178000
Yes,2-Oct-17,302.480000,302.920000,294.580000,297.480000,"339,443,000","28,708,500,000",8.340000,298.380000
Yes,3-Oct-17,297.480000,300.110000,288.130000,292.460000,"321,680,000","28,238,500,000",11.980000,297.042000

# Visual of MA and CLose

In [9]:
import plotly
import plotly.plotly as py
import plotly.graph_objs as go

In [10]:
trace1 = go.Scatter(
    x = eth_df['Date'],
    y = eth_df['Close'],
    mode = 'Lines',
    name = 'Ethereum Close Price'
)
trace2 = go.Scatter(
    x = eth_df['Date'],
    y = eth_df['MA'],
    mode = 'Lines',
    name = 'Ethereum Moving Average'
)

data = [trace1,trace2]

py.iplot(data, filename='basic-scatter')

# Look at Crossovers to find uptrends and downtrends