In [1]:
import numpy as np
import pandas as pd

In [2]:
eth_df = pd.read_csv('/Users/troy/Github/courses/crypto-pirates/Datasets/ethereum_price.csv')
new_index = eth_df['Date']
eth_df.head()

           Date    Open    High     Low   Close       Volume      Market Cap
0  Nov 07, 2017  298.57  304.84  290.77  294.66  540,766,000  28,533,300,000
1  Nov 06, 2017  296.43  305.42  293.72  298.89  579,359,000  28,322,700,000
2  Nov 05, 2017  300.04  301.37  295.12  296.26  337,658,000  28,661,500,000
3  Nov 04, 2017  305.48  305.48  295.80  300.47  416,479,000  29,175,300,000
4  Nov 03, 2017  288.50  308.31  287.69  305.71  646,340,000  27,547,400,000

### Adding Columns

In [3]:
eth_df['Daily Range'] = eth_df['High'] - eth_df['Low']
eth_df.head()

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range
0,"Nov 07, 2017",298.57,304.84,290.77,294.66,"540,766,000","28,533,300,000",14.07
1,"Nov 06, 2017",296.43,305.42,293.72,298.89,"579,359,000","28,322,700,000",11.70
2,"Nov 05, 2017",300.04,301.37,295.12,296.26,"337,658,000","28,661,500,000",6.25
3,"Nov 04, 2017",305.48,305.48,295.80,300.47,"416,479,000","29,175,300,000",9.68
4,"Nov 03, 2017",288.50,308.31,287.69,305.71,"646,340,000","27,547,400,000",20.62

In [6]:
eth_df['MA'] = eth_df['Close'].rolling(5).mean()
eth_df

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range,MA
Significant,,,,,,,,,
Yes,"Nov 07, 2017",298.570000,304.840000,290.770000,294.660000,"540,766,000","28,533,300,000",14.070000,NaN
Yes,"Nov 06, 2017",296.430000,305.420000,293.720000,298.890000,"579,359,000","28,322,700,000",11.700000,NaN
Yes,"Nov 05, 2017",300.040000,301.370000,295.120000,296.260000,"337,658,000","28,661,500,000",6.250000,NaN
Yes,"Nov 04, 2017",305.480000,305.480000,295.800000,300.470000,"416,479,000","29,175,300,000",9.680000,NaN
Yes,"Nov 03, 2017",288.500000,308.310000,287.690000,305.710000,"646,340,000","27,547,400,000",20.620000,299.198000
Yes,"Nov 02, 2017",290.730000,293.910000,281.170000,287.430000,"904,901,000","27,754,200,000",12.740000,297.752000
Yes,"Nov 01, 2017",305.760000,306.400000,290.580000,291.690000,"553,864,000","29,183,600,000",15.820000,296.312000
No,"Oct 31, 2017",307.380000,310.550000,305.880000,305.880000,"369,583,000","29,331,500,000",4.670000,298.236000
Yes,"Oct 30, 2017",304.780000,310.500000,304.350000,307.750000,"331,442,000","29,077,600,000",6.150000,299.692000
Yes,"Oct 29, 2017",296.380000,313.750000,296.380000,305.090000,"551,752,000","28,270,200,000",17.370000,299.568000
Yes,"Oct 28, 2017",297.920000,300.360000,293.580000,296.300000,"264,424,000","28,410,400,000",6.780000,301.342000
No,"Oct 27, 2017",296.510000,299.260000,294.060000,297.420000,"257,169,000","28,270,100,000",5.200000,302.488000
No,"Oct 26, 2017",298.020000,301.070000,295.220000,296.530000,"270,273,000","28,408,400,000",5.850000,300.618000
Yes,"Oct 25, 2017",298.440000,301.850000,290.720000,297.930000,"325,040,000","28,442,000,000",11.130000,298.654000
Yes,"Oct 24, 2017",287.120000,311.960000,282.660000,298.330000,"684,281,000","27,357,500,000",29.300000,297.302000
Yes,"Oct 23, 2017",295.100000,295.750000,277.570000,286.950000,"482,336,000","28,111,400,000",18.180000,295.432000
Yes,"Oct 22, 2017",300.550000,305.500000,292.810000,295.450000,"327,387,000","28,624,800,000",12.690000,295.038000
Yes,"Oct 21, 2017",303.570000,303.930000,291.770000,300.190000,"408,014,000","28,906,600,000",12.160000,295.770000
Yes,"Oct 20, 2017",308.050000,311.440000,303.490000,304.010000,"396,673,000","29,326,300,000",7.950000,296.986000
Yes,"Oct 19, 2017",314.540000,316.710000,305.830000,308.090000,"349,830,000","29,937,900,000",10.880000,298.938000
Yes,"Oct 18, 2017",316.940000,317.240000,290.640000,314.320000,"606,114,000","30,160,500,000",26.600000,304.412000
Yes,"Oct 17, 2017",333.480000,333.480000,311.790000,317.080000,"509,924,000","31,727,700,000",21.690000,308.738000
Yes,"Oct 16, 2017",336.710000,349.350000,332.040000,333.380000,"692,885,000","32,029,200,000",17.310000,315.376000
Yes,"Oct 15, 2017",339.530000,342.720000,320.430000,336.600000,"635,407,000","32,292,100,000",22.290000,321.894000
Yes,"Oct 14, 2017",338.850000,347.980000,334.700000,339.630000,"516,562,000","32,222,400,000",13.280000,328.202000
Yes,"Oct 13, 2017",304.080000,348.600000,299.660000,338.760000,"1,304,360,000","28,911,100,000",48.940000,333.090000
No,"Oct 12, 2017",303.500000,309.150000,303.290000,304.140000,"527,557,000","28,851,200,000",5.860000,330.502000
No,"Oct 11, 2017",301.180000,304.390000,299.100000,303.460000,"264,146,000","28,626,300,000",5.290000,324.518000
Yes,"Oct 10, 2017",297.600000,306.150000,293.170000,299.870000,"359,706,000","28,281,400,000",12.980000,317.172000
Yes,"Oct 09, 2017",308.670000,309.310000,288.190000,297.390000,"559,467,000","29,328,300,000",21.120000,308.724000
...,...,...,...,...,...,...,...,...,...
No,"Sep 05, 2015",1.280000,1.340000,1.270000,1.340000,"448,453","93,402,300",0.070000,1.268000
No,"Sep 04, 2015",1.260000,1.300000,1.240000,1.270000,"474,391","92,234,100",0.060000,1.280000
No,"Sep 03, 2015",1.300000,1.310000,1.210000,1.260000,"702,991","94,418,700",0.100000,1.284000
No,"Sep 02, 2015",1.350000,1.350000,1.260000,1.290000,"883,769","98,504,600",0.090000,1.292000
No,"Sep 01, 2015",1.350000,1.390000,1.340000,1.350000,"778,862","98,617,200",0.050000,1.302000
No,"Aug 31, 2015",1.320000,1.400000,1.200000,1.360000,"1,447,180","96,251,000",0.200000,1.306000
No,"Aug 30, 2015",1.180000,1.370000,1.170000,1.320000,"1,337,650","86,145,900",0.200000,1.316000
No,"Aug 29, 2015",1.190000,1.210000,1.150000,1.180000,"375,377","86,887,600",0.060000,1.300000
No,"Aug 28, 2015",1.150000,1.210000,1.120000,1.190000,"721,872","83,521,700",0.090000,1.280000
No,"Aug 27, 2015",1.170000,1.190000,1.140000,1.150000,"686,662","85,106,100",0.050000,1.240000
No,"Aug 26, 2015",1.130000,1.200000,1.060000,1.160000,"1,056,750","82,384,400",0.140000,1.200000
No,"Aug 25, 2015",1.230000,1.240000,1.130000,1.140000,"1,307,180","89,321,900",0.110000,1.164000
No,"Aug 24, 2015",1.350000,1.360000,1.230000,1.230000,"924,920","97,791,600",0.130000,1.174000
No,"Aug 23, 2015",1.380000,1.410000,1.300000,1.350000,"1,589,300","99,894,500",0.110000,1.206000
No,"Aug 22, 2015",1.400000,1.480000,1.350000,1.380000,"948,310","101,404,000",0.130000,1.252000
No,"Aug 21, 2015",1.480000,1.560000,1.350000,1.400000,"2,020,970","107,266,000",0.210000,1.300000
No,"Aug 20, 2015",1.250000,1.530000,1.250000,1.460000,"2,843,760","90,809,000",0.280000,1.364000
No,"Aug 19, 2015",1.170000,1.320000,1.170000,1.260000,"1,486,240","84,663,900",0.150000,1.370000
No,"Aug 18, 2015",1.220000,1.330000,1.090000,1.090000,"1,485,680","88,143,200",0.240000,1.318000
No,"Aug 17, 2015",1.580000,1.580000,1.190000,1.200000,"1,942,830","95,819,700",0.390000,1.282000
No,"Aug 16, 2015",1.680000,1.700000,1.090000,1.570000,"3,550,790","102,028,000",0.610000,1.316000
No,"Aug 15, 2015",1.800000,1.880000,1.570000,1.690000,"2,554,360","109,160,000",0.310000,1.362000
No,"Aug 14, 2015",1.810000,2.260000,1.750000,1.830000,"4,637,030","109,594,000",0.510000,1.476000
No,"Aug 13, 2015",1.220000,1.970000,1.170000,1.830000,"4,068,680","73,935,400",0.800000,1.624000
No,"Aug 12, 2015",1.060000,1.290000,0.883608,1.220000,"2,150,620","64,018,400",0.406392,1.628000
No,"Aug 11, 2015",0.708087,1.130000,0.663235,1.070000,"1,463,100","42,796,500",0.466765,1.528000
No,"Aug 10, 2015",0.713989,0.729854,0.636546,0.708448,"405,283","43,130,000",0.093308,1.331690
No,"Aug 09, 2015",0.706136,0.879810,0.629191,0.701897,"532,170","42,637,600",0.250619,1.106069
No,"Aug 08, 2015",2.790000,2.800000,0.714725,0.753325,"674,188","167,911,000",2.085275,0.890734
No,"Aug 07, 2015",2.830000,3.540000,2.520000,2.770000,"164,329",-,1.020000,1.200734

### Adding the mean

In [4]:
eth_df['Daily Range'].mean()

5.8695899150485422

In [5]:
'''
1. Add new column. 2. Define Conditions. 3. Change necessary value to the column that meets the condition.
'''

eth_df['Significant'] = ''

cond1 = eth_df['Daily Range'] > eth_df['Daily Range'].mean()
cond2 = eth_df['Daily Range'] < eth_df['Daily Range'].mean()

yes = eth_df[cond1]
no = eth_df[cond2]

column = 'Significant'
eth_df.loc[cond1, column] = 'Yes'
eth_df.loc[cond2, column] = 'No'
eth_df.set_index('Significant', inplace=True)
eth_df

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range
Significant,,,,,,,,
Yes,"Nov 07, 2017",298.570000,304.840000,290.770000,294.660000,"540,766,000","28,533,300,000",14.070000
Yes,"Nov 06, 2017",296.430000,305.420000,293.720000,298.890000,"579,359,000","28,322,700,000",11.700000
Yes,"Nov 05, 2017",300.040000,301.370000,295.120000,296.260000,"337,658,000","28,661,500,000",6.250000
Yes,"Nov 04, 2017",305.480000,305.480000,295.800000,300.470000,"416,479,000","29,175,300,000",9.680000
Yes,"Nov 03, 2017",288.500000,308.310000,287.690000,305.710000,"646,340,000","27,547,400,000",20.620000
Yes,"Nov 02, 2017",290.730000,293.910000,281.170000,287.430000,"904,901,000","27,754,200,000",12.740000
Yes,"Nov 01, 2017",305.760000,306.400000,290.580000,291.690000,"553,864,000","29,183,600,000",15.820000
No,"Oct 31, 2017",307.380000,310.550000,305.880000,305.880000,"369,583,000","29,331,500,000",4.670000
Yes,"Oct 30, 2017",304.780000,310.500000,304.350000,307.750000,"331,442,000","29,077,600,000",6.150000
Yes,"Oct 29, 2017",296.380000,313.750000,296.380000,305.090000,"551,752,000","28,270,200,000",17.370000
Yes,"Oct 28, 2017",297.920000,300.360000,293.580000,296.300000,"264,424,000","28,410,400,000",6.780000
No,"Oct 27, 2017",296.510000,299.260000,294.060000,297.420000,"257,169,000","28,270,100,000",5.200000
No,"Oct 26, 2017",298.020000,301.070000,295.220000,296.530000,"270,273,000","28,408,400,000",5.850000
Yes,"Oct 25, 2017",298.440000,301.850000,290.720000,297.930000,"325,040,000","28,442,000,000",11.130000
Yes,"Oct 24, 2017",287.120000,311.960000,282.660000,298.330000,"684,281,000","27,357,500,000",29.300000
Yes,"Oct 23, 2017",295.100000,295.750000,277.570000,286.950000,"482,336,000","28,111,400,000",18.180000
Yes,"Oct 22, 2017",300.550000,305.500000,292.810000,295.450000,"327,387,000","28,624,800,000",12.690000
Yes,"Oct 21, 2017",303.570000,303.930000,291.770000,300.190000,"408,014,000","28,906,600,000",12.160000
Yes,"Oct 20, 2017",308.050000,311.440000,303.490000,304.010000,"396,673,000","29,326,300,000",7.950000
Yes,"Oct 19, 2017",314.540000,316.710000,305.830000,308.090000,"349,830,000","29,937,900,000",10.880000
Yes,"Oct 18, 2017",316.940000,317.240000,290.640000,314.320000,"606,114,000","30,160,500,000",26.600000
Yes,"Oct 17, 2017",333.480000,333.480000,311.790000,317.080000,"509,924,000","31,727,700,000",21.690000
Yes,"Oct 16, 2017",336.710000,349.350000,332.040000,333.380000,"692,885,000","32,029,200,000",17.310000
Yes,"Oct 15, 2017",339.530000,342.720000,320.430000,336.600000,"635,407,000","32,292,100,000",22.290000
Yes,"Oct 14, 2017",338.850000,347.980000,334.700000,339.630000,"516,562,000","32,222,400,000",13.280000
Yes,"Oct 13, 2017",304.080000,348.600000,299.660000,338.760000,"1,304,360,000","28,911,100,000",48.940000
No,"Oct 12, 2017",303.500000,309.150000,303.290000,304.140000,"527,557,000","28,851,200,000",5.860000
No,"Oct 11, 2017",301.180000,304.390000,299.100000,303.460000,"264,146,000","28,626,300,000",5.290000
Yes,"Oct 10, 2017",297.600000,306.150000,293.170000,299.870000,"359,706,000","28,281,400,000",12.980000
Yes,"Oct 09, 2017",308.670000,309.310000,288.190000,297.390000,"559,467,000","29,328,300,000",21.120000
...,...,...,...,...,...,...,...,...
No,"Sep 05, 2015",1.280000,1.340000,1.270000,1.340000,"448,453","93,402,300",0.070000
No,"Sep 04, 2015",1.260000,1.300000,1.240000,1.270000,"474,391","92,234,100",0.060000
No,"Sep 03, 2015",1.300000,1.310000,1.210000,1.260000,"702,991","94,418,700",0.100000
No,"Sep 02, 2015",1.350000,1.350000,1.260000,1.290000,"883,769","98,504,600",0.090000
No,"Sep 01, 2015",1.350000,1.390000,1.340000,1.350000,"778,862","98,617,200",0.050000
No,"Aug 31, 2015",1.320000,1.400000,1.200000,1.360000,"1,447,180","96,251,000",0.200000
No,"Aug 30, 2015",1.180000,1.370000,1.170000,1.320000,"1,337,650","86,145,900",0.200000
No,"Aug 29, 2015",1.190000,1.210000,1.150000,1.180000,"375,377","86,887,600",0.060000
No,"Aug 28, 2015",1.150000,1.210000,1.120000,1.190000,"721,872","83,521,700",0.090000
No,"Aug 27, 2015",1.170000,1.190000,1.140000,1.150000,"686,662","85,106,100",0.050000
No,"Aug 26, 2015",1.130000,1.200000,1.060000,1.160000,"1,056,750","82,384,400",0.140000
No,"Aug 25, 2015",1.230000,1.240000,1.130000,1.140000,"1,307,180","89,321,900",0.110000
No,"Aug 24, 2015",1.350000,1.360000,1.230000,1.230000,"924,920","97,791,600",0.130000
No,"Aug 23, 2015",1.380000,1.410000,1.300000,1.350000,"1,589,300","99,894,500",0.110000
No,"Aug 22, 2015",1.400000,1.480000,1.350000,1.380000,"948,310","101,404,000",0.130000
No,"Aug 21, 2015",1.480000,1.560000,1.350000,1.400000,"2,020,970","107,266,000",0.210000
No,"Aug 20, 2015",1.250000,1.530000,1.250000,1.460000,"2,843,760","90,809,000",0.280000
No,"Aug 19, 2015",1.170000,1.320000,1.170000,1.260000,"1,486,240","84,663,900",0.150000
No,"Aug 18, 2015",1.220000,1.330000,1.090000,1.090000,"1,485,680","88,143,200",0.240000
No,"Aug 17, 2015",1.580000,1.580000,1.190000,1.200000,"1,942,830","95,819,700",0.390000
No,"Aug 16, 2015",1.680000,1.700000,1.090000,1.570000,"3,550,790","102,028,000",0.610000
No,"Aug 15, 2015",1.800000,1.880000,1.570000,1.690000,"2,554,360","109,160,000",0.310000
No,"Aug 14, 2015",1.810000,2.260000,1.750000,1.830000,"4,637,030","109,594,000",0.510000
No,"Aug 13, 2015",1.220000,1.970000,1.170000,1.830000,"4,068,680","73,935,400",0.800000
No,"Aug 12, 2015",1.060000,1.290000,0.883608,1.220000,"2,150,620","64,018,400",0.406392
No,"Aug 11, 2015",0.708087,1.130000,0.663235,1.070000,"1,463,100","42,796,500",0.466765
No,"Aug 10, 2015",0.713989,0.729854,0.636546,0.708448,"405,283","43,130,000",0.093308
No,"Aug 09, 2015",0.706136,0.879810,0.629191,0.701897,"532,170","42,637,600",0.250619
No,"Aug 08, 2015",2.790000,2.800000,0.714725,0.753325,"674,188","167,911,000",2.085275
No,"Aug 07, 2015",2.830000,3.540000,2.520000,2.770000,"164,329",-,1.020000

# Visual of MA and CLose

In [7]:
import plotly
import plotly.plotly as py
import plotly.graph_objs as go

In [9]:
trace1 = go.Scatter(
    x = eth_df['Date'],
    y = eth_df['Close'],
    mode = 'Lines',
    name = 'Ethereum Close Price'
)
trace2 = go.Scatter(
    x = eth_df['Date'],
    y = eth_df['MA'],
    mode = 'Lines',
    name = 'Ethereum Moving Average'
)

data = [trace1,trace2]

py.iplot(data, filename='basic-scatter')

# Use Crossovers to find uptrends and downtrends