### Monero Data

In [2]:
import numpy as np
import pandas as pd

In [4]:
monero_df = pd.read_csv('/Users/troy/Github/courses/crypto-pirates/Datasets/monero_price.csv')
monero_df.head()

           Date   Open   High    Low  Close      Volume     Market Cap
0  Oct 03, 2017  91.52  94.81  87.21  92.96  44,289,800  1,387,960,000
1  Oct 02, 2017  93.56  93.80  90.98  91.54  27,534,700  1,418,400,000
2  Oct 01, 2017  95.59  95.74  91.77  93.22  25,936,500  1,448,800,000
3  Sep 30, 2017  94.44  96.33  94.07  95.76  28,498,000  1,430,900,000
4  Sep 29, 2017  97.30  97.78  91.22  94.50  38,972,400  1,473,750,000

### Adding Daily Range Column

In [5]:
monero_df['Daily Range'] = monero_df['High'] - monero_df['Low']
monero_df.head()

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range
0,"Oct 03, 2017",91.52,94.81,87.21,92.96,"44,289,800","1,387,960,000",7.60
1,"Oct 02, 2017",93.56,93.80,90.98,91.54,"27,534,700","1,418,400,000",2.82
2,"Oct 01, 2017",95.59,95.74,91.77,93.22,"25,936,500","1,448,800,000",3.97
3,"Sep 30, 2017",94.44,96.33,94.07,95.76,"28,498,000","1,430,900,000",2.26
4,"Sep 29, 2017",97.30,97.78,91.22,94.50,"38,972,400","1,473,750,000",6.56

### Monero Daily Range Mean

In [6]:
monero_df['Daily Range'].mean()

1.2345833671811535

In [9]:
'''
1. Add new column. 2. Define Conditions. 3. Change necessary value to the column that meets the condition.
'''

monero_df['Significant'] = ''

cond1 = monero_df['Daily Range'] > monero_df['Daily Range'].mean()
cond2 = monero_df['Daily Range'] < monero_df['Daily Range'].mean()

yes = monero_df[cond1]
no = monero_df[cond2]

column = 'Significant'
monero_df.loc[cond1, column] = 'Yes'
monero_df.loc[cond2, column] = 'No'
monero_df.set_index('Significant', inplace=True)

# Finding Moving Average

In [10]:
monero_df['MA'] = monero_df['Close'].rolling(5).mean()
monero_df

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range,MA
Significant,,,,,,,,,
Yes,"Oct 03, 2017",91.52,94.81,87.21,92.96,"44,289,800","1,387,960,000",7.60,NaN
Yes,"Oct 02, 2017",93.56,93.80,90.98,91.54,"27,534,700","1,418,400,000",2.82,NaN
Yes,"Oct 01, 2017",95.59,95.74,91.77,93.22,"25,936,500","1,448,800,000",3.97,NaN
Yes,"Sep 30, 2017",94.44,96.33,94.07,95.76,"28,498,000","1,430,900,000",2.26,NaN
Yes,"Sep 29, 2017",97.30,97.78,91.22,94.50,"38,972,400","1,473,750,000",6.56,93.596
Yes,"Sep 28, 2017",100.97,101.14,95.48,97.23,"41,822,000","1,528,970,000",5.66,94.450
Yes,"Sep 27, 2017",92.75,102.91,92.64,101.04,"51,634,900","1,404,030,000",10.27,96.350
Yes,"Sep 26, 2017",93.81,95.31,91.60,93.13,"32,540,800","1,419,730,000",3.71,96.332
Yes,"Sep 25, 2017",89.37,94.23,89.12,93.64,"28,114,300","1,352,120,000",5.11,95.908
Yes,"Sep 24, 2017",91.76,91.81,88.00,89.50,"22,224,000","1,387,760,000",3.81,94.908
Yes,"Sep 23, 2017",88.03,92.12,86.96,91.85,"26,372,900","1,329,730,000",5.16,93.832
Yes,"Sep 22, 2017",86.17,89.54,84.33,88.17,"28,179,100","1,301,560,000",5.21,91.258
Yes,"Sep 21, 2017",95.33,95.75,85.17,86.24,"34,290,500","1,439,880,000",10.58,89.880
Yes,"Sep 20, 2017",97.64,98.09,93.37,95.57,"34,198,900","1,474,840,000",4.72,90.266
Yes,"Sep 19, 2017",100.83,101.28,93.70,97.72,"48,249,700","1,522,630,000",7.58,91.910
Yes,"Sep 18, 2017",93.81,102.02,93.81,100.57,"63,732,100","1,416,250,000",8.21,93.654
Yes,"Sep 17, 2017",94.97,96.36,89.22,93.74,"41,008,200","1,433,270,000",7.14,94.768
Yes,"Sep 16, 2017",100.11,106.12,91.41,95.29,"71,163,500","1,510,430,000",14.71,96.578
Yes,"Sep 15, 2017",83.13,103.69,73.17,99.85,"176,154,000","1,253,940,000",30.52,97.434
Yes,"Sep 14, 2017",111.29,120.39,82.65,83.04,"133,553,000","1,678,110,000",37.74,94.498
Yes,"Sep 13, 2017",111.81,113.16,102.39,111.33,"88,162,900","1,685,390,000",10.77,96.650
Yes,"Sep 12, 2017",112.72,115.69,110.49,111.89,"40,402,700","1,698,640,000",5.20,100.280
Yes,"Sep 11, 2017",113.05,116.24,110.47,112.75,"30,605,900","1,702,970,000",5.77,103.772
Yes,"Sep 10, 2017",115.64,115.77,103.17,112.33,"50,725,200","1,741,490,000",12.60,106.268
Yes,"Sep 09, 2017",118.19,119.73,113.17,116.27,"39,220,400","1,779,350,000",6.56,112.914
Yes,"Sep 08, 2017",120.28,132.57,113.30,118.04,"159,066,000","1,810,210,000",19.27,114.256
Yes,"Sep 07, 2017",121.39,124.76,116.60,120.84,"62,655,700","1,826,360,000",8.16,116.046
Yes,"Sep 06, 2017",118.78,122.31,114.32,121.63,"64,604,400","1,786,650,000",7.99,117.822
Yes,"Sep 05, 2017",106.75,122.63,95.81,118.82,"113,378,000","1,605,070,000",26.82,119.120
Yes,"Sep 04, 2017",126.23,126.23,101.73,106.17,"89,194,700","1,897,480,000",24.50,117.100
...,...,...,...,...,...,...,...,...,...
Yes,"Jun 20, 2014",3.17,4.59,3.12,4.56,"543,764","4,844,000",1.47,4.236
No,"Jun 19, 2014",2.78,3.52,2.68,3.13,"283,962","4,188,790",0.84,4.206
No,"Jun 18, 2014",2.90,2.98,2.46,2.79,"183,102","4,304,890",0.52,3.968
No,"Jun 17, 2014",3.15,3.31,2.72,2.82,"228,445","4,601,540",0.59,3.662
No,"Jun 16, 2014",2.72,3.55,2.62,3.18,"438,776","3,905,660",0.93,3.296
No,"Jun 15, 2014",2.32,2.75,2.25,2.69,"150,652","3,288,170",0.50,2.922
No,"Jun 14, 2014",1.93,2.82,1.88,2.34,"276,919","2,677,530",0.94,2.764
No,"Jun 13, 2014",1.65,1.96,1.62,1.92,"84,237","2,257,650",0.34,2.590
No,"Jun 12, 2014",1.62,2.17,1.53,1.74,"108,619","2,174,900",0.64,2.374
No,"Jun 11, 2014",1.72,2.17,1.53,1.62,"85,735","2,279,840",0.64,2.062
No,"Jun 10, 2014",1.48,2.39,1.31,1.73,"182,599","1,917,820",1.08,1.870
No,"Jun 09, 2014",1.33,1.64,1.27,1.52,"56,500","1,697,580",0.37,1.706
No,"Jun 08, 2014",1.36,1.44,1.24,1.34,"40,634","1,702,900",0.20,1.590
No,"Jun 07, 2014",1.24,1.69,1.21,1.36,"44,187","1,523,430",0.48,1.514
No,"Jun 06, 2014",1.46,1.51,1.17,1.24,"100,635","1,781,530",0.34,1.438
No,"Jun 04, 2014",1.93,1.99,1.71,1.81,"51,886","2,238,440",0.28,1.454
No,"Jun 03, 2014",1.73,2.10,1.65,1.93,"91,332","1,966,370",0.45,1.536
No,"Jun 02, 2014",1.76,1.94,1.60,1.73,"47,672","1,964,820",0.34,1.614
No,"Jun 01, 2014",1.94,2.57,1.54,1.74,"130,602","2,111,850",1.03,1.690
No,"May 31, 2014",1.58,2.28,1.41,1.94,"117,399","1,675,440",0.87,1.830
No,"May 30, 2014",1.68,1.87,1.08,1.57,"119,296","1,742,630",0.79,1.782
No,"May 29, 2014",2.21,2.49,1.68,1.68,"109,157","2,251,030",0.81,1.732
No,"May 28, 2014",2.24,2.85,1.91,2.27,"177,716","2,231,880",0.94,1.840
No,"May 27, 2014",3.03,3.03,2.07,2.21,"97,603","2,958,060",0.96,1.934
Yes,"May 26, 2014",3.22,3.76,2.31,3.02,"220,148","3,070,190",1.45,2.150
Yes,"May 25, 2014",4.04,4.04,2.80,3.14,"283,545","3,774,890",1.24,2.464
Yes,"May 24, 2014",2.92,4.01,2.62,3.70,"248,028","2,653,720",1.39,2.868
Yes,"May 23, 2014",2.05,3.43,2.05,2.96,"266,852","1,816,200",1.38,3.006
No,"May 22, 2014",1.59,2.19,1.36,2.10,"132,918","1,371,470",0.83,2.984
Yes,"May 21, 2014",2.47,2.65,1.23,1.60,"246,540","2,079,640",1.42,2.700

# Visual of MA curve and Real Close Price

In [11]:
import plotly
import plotly.plotly as py
import plotly.graph_objs as go

In [12]:
trace1 = go.Scatter(
    x = monero_df['Date'],
    y = monero_df['Close'],
    mode = 'Lines',
    name = 'Monero Close Price'
)
trace2 = go.Scatter(
    x = monero_df['Date'],
    y = monero_df['MA'],
    mode = 'Lines',
    name = 'Monero Moving Average'
)

data = [trace1,trace2]

py.iplot(data, filename='basic-scatter')