### Monero Data

In [2]:
import numpy as np
import pandas as pd

In [3]:
monero_df = pd.read_csv('/Users/newuser/Dropbox/Datamining/Crypto-Pirates/Datasets/monero_price.csv')
new_index = btc_df['Date']
monero_df.head()

NameError: name 'btc_df' is not defined

### Adding Daily Range Column

In [4]:
monero_df['Daily Range'] = monero_df['High'] - monero_df['Low']
monero_df.head()

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range
0,"Oct 03, 2017",91.52,94.81,87.21,92.96,"44,289,800","1,387,960,000",7.60
1,"Oct 02, 2017",93.56,93.80,90.98,91.54,"27,534,700","1,418,400,000",2.82
2,"Oct 01, 2017",95.59,95.74,91.77,93.22,"25,936,500","1,448,800,000",3.97
3,"Sep 30, 2017",94.44,96.33,94.07,95.76,"28,498,000","1,430,900,000",2.26
4,"Sep 29, 2017",97.30,97.78,91.22,94.50,"38,972,400","1,473,750,000",6.56

### Monero Daily Range Mean

In [5]:
monero_df['Daily Range'].mean()

1.2345833671811535

In [7]:
'''
1. Add new column. 2. Define Conditions. 3. Change necessary value to the column that meets the condition.
'''

monero_df['Significant'] = ''

cond1 = monero_df['Daily Range'] > monero_df['Daily Range'].mean()
cond2 = monero_df['Daily Range'] < monero_df['Daily Range'].mean()

yes = monero_df[cond1]
no = monero_df[cond2]

column = 'Significant'
monero_df.loc[cond1, column] = 'Yes'
monero_df.loc[cond2, column] = 'No'
monero_df.set_index('Significant')

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range
Significant,,,,,,,,
Yes,"Oct 03, 2017",91.52,94.81,87.21,92.96,"44,289,800","1,387,960,000",7.60
Yes,"Oct 02, 2017",93.56,93.80,90.98,91.54,"27,534,700","1,418,400,000",2.82
Yes,"Oct 01, 2017",95.59,95.74,91.77,93.22,"25,936,500","1,448,800,000",3.97
Yes,"Sep 30, 2017",94.44,96.33,94.07,95.76,"28,498,000","1,430,900,000",2.26
Yes,"Sep 29, 2017",97.30,97.78,91.22,94.50,"38,972,400","1,473,750,000",6.56
Yes,"Sep 28, 2017",100.97,101.14,95.48,97.23,"41,822,000","1,528,970,000",5.66
Yes,"Sep 27, 2017",92.75,102.91,92.64,101.04,"51,634,900","1,404,030,000",10.27
Yes,"Sep 26, 2017",93.81,95.31,91.60,93.13,"32,540,800","1,419,730,000",3.71
Yes,"Sep 25, 2017",89.37,94.23,89.12,93.64,"28,114,300","1,352,120,000",5.11
Yes,"Sep 24, 2017",91.76,91.81,88.00,89.50,"22,224,000","1,387,760,000",3.81
Yes,"Sep 23, 2017",88.03,92.12,86.96,91.85,"26,372,900","1,329,730,000",5.16
Yes,"Sep 22, 2017",86.17,89.54,84.33,88.17,"28,179,100","1,301,560,000",5.21
Yes,"Sep 21, 2017",95.33,95.75,85.17,86.24,"34,290,500","1,439,880,000",10.58
Yes,"Sep 20, 2017",97.64,98.09,93.37,95.57,"34,198,900","1,474,840,000",4.72
Yes,"Sep 19, 2017",100.83,101.28,93.70,97.72,"48,249,700","1,522,630,000",7.58
Yes,"Sep 18, 2017",93.81,102.02,93.81,100.57,"63,732,100","1,416,250,000",8.21
Yes,"Sep 17, 2017",94.97,96.36,89.22,93.74,"41,008,200","1,433,270,000",7.14
Yes,"Sep 16, 2017",100.11,106.12,91.41,95.29,"71,163,500","1,510,430,000",14.71
Yes,"Sep 15, 2017",83.13,103.69,73.17,99.85,"176,154,000","1,253,940,000",30.52
Yes,"Sep 14, 2017",111.29,120.39,82.65,83.04,"133,553,000","1,678,110,000",37.74
Yes,"Sep 13, 2017",111.81,113.16,102.39,111.33,"88,162,900","1,685,390,000",10.77
Yes,"Sep 12, 2017",112.72,115.69,110.49,111.89,"40,402,700","1,698,640,000",5.20
Yes,"Sep 11, 2017",113.05,116.24,110.47,112.75,"30,605,900","1,702,970,000",5.77
Yes,"Sep 10, 2017",115.64,115.77,103.17,112.33,"50,725,200","1,741,490,000",12.60
Yes,"Sep 09, 2017",118.19,119.73,113.17,116.27,"39,220,400","1,779,350,000",6.56
Yes,"Sep 08, 2017",120.28,132.57,113.30,118.04,"159,066,000","1,810,210,000",19.27
Yes,"Sep 07, 2017",121.39,124.76,116.60,120.84,"62,655,700","1,826,360,000",8.16
Yes,"Sep 06, 2017",118.78,122.31,114.32,121.63,"64,604,400","1,786,650,000",7.99
Yes,"Sep 05, 2017",106.75,122.63,95.81,118.82,"113,378,000","1,605,070,000",26.82
Yes,"Sep 04, 2017",126.23,126.23,101.73,106.17,"89,194,700","1,897,480,000",24.50
...,...,...,...,...,...,...,...,...
Yes,"Jun 20, 2014",3.17,4.59,3.12,4.56,"543,764","4,844,000",1.47
No,"Jun 19, 2014",2.78,3.52,2.68,3.13,"283,962","4,188,790",0.84
No,"Jun 18, 2014",2.90,2.98,2.46,2.79,"183,102","4,304,890",0.52
No,"Jun 17, 2014",3.15,3.31,2.72,2.82,"228,445","4,601,540",0.59
No,"Jun 16, 2014",2.72,3.55,2.62,3.18,"438,776","3,905,660",0.93
No,"Jun 15, 2014",2.32,2.75,2.25,2.69,"150,652","3,288,170",0.50
No,"Jun 14, 2014",1.93,2.82,1.88,2.34,"276,919","2,677,530",0.94
No,"Jun 13, 2014",1.65,1.96,1.62,1.92,"84,237","2,257,650",0.34
No,"Jun 12, 2014",1.62,2.17,1.53,1.74,"108,619","2,174,900",0.64
No,"Jun 11, 2014",1.72,2.17,1.53,1.62,"85,735","2,279,840",0.64
No,"Jun 10, 2014",1.48,2.39,1.31,1.73,"182,599","1,917,820",1.08
No,"Jun 09, 2014",1.33,1.64,1.27,1.52,"56,500","1,697,580",0.37
No,"Jun 08, 2014",1.36,1.44,1.24,1.34,"40,634","1,702,900",0.20
No,"Jun 07, 2014",1.24,1.69,1.21,1.36,"44,187","1,523,430",0.48
No,"Jun 06, 2014",1.46,1.51,1.17,1.24,"100,635","1,781,530",0.34
No,"Jun 04, 2014",1.93,1.99,1.71,1.81,"51,886","2,238,440",0.28
No,"Jun 03, 2014",1.73,2.10,1.65,1.93,"91,332","1,966,370",0.45
No,"Jun 02, 2014",1.76,1.94,1.60,1.73,"47,672","1,964,820",0.34
No,"Jun 01, 2014",1.94,2.57,1.54,1.74,"130,602","2,111,850",1.03
No,"May 31, 2014",1.58,2.28,1.41,1.94,"117,399","1,675,440",0.87
No,"May 30, 2014",1.68,1.87,1.08,1.57,"119,296","1,742,630",0.79
No,"May 29, 2014",2.21,2.49,1.68,1.68,"109,157","2,251,030",0.81
No,"May 28, 2014",2.24,2.85,1.91,2.27,"177,716","2,231,880",0.94
No,"May 27, 2014",3.03,3.03,2.07,2.21,"97,603","2,958,060",0.96
Yes,"May 26, 2014",3.22,3.76,2.31,3.02,"220,148","3,070,190",1.45
Yes,"May 25, 2014",4.04,4.04,2.80,3.14,"283,545","3,774,890",1.24
Yes,"May 24, 2014",2.92,4.01,2.62,3.70,"248,028","2,653,720",1.39
Yes,"May 23, 2014",2.05,3.43,2.05,2.96,"266,852","1,816,200",1.38
No,"May 22, 2014",1.59,2.19,1.36,2.10,"132,918","1,371,470",0.83
Yes,"May 21, 2014",2.47,2.65,1.23,1.60,"246,540","2,079,640",1.42

### Reading in BTC, LTC, ETH, MONERO

In [19]:
bit = pd.read_csv('/Users/newuser/Dropbox/Datamining/Crypto-Pirates/Datasets/bitcoin_price.csv')
mon = pd.read_csv('/Users/newuser/Dropbox/Datamining/Crypto-Pirates/Datasets/monero_price.csv')
lit = pd.read_csv('/Users/newuser/Dropbox/Datamining/Crypto-Pirates/Datasets/litecoin_price.csv')
eth = pd.read_csv('/Users/newuser/Dropbox/Datamining/Crypto-Pirates/Datasets/ethereum_price.csv')

### Concatenating 4 Data Frames

In [20]:
bit['CC'] = 'Bitcoin'
mon['CC'] = 'Monero'
lit['CC'] = 'Litecoin'
eth['CC'] = 'Ethereum'
master_df = pd.concat([bit,mon,lit,eth])
# set new index
master_df.set_index('CC', inplace=True)
master_df

,Date,Open,High,Low,Close,Volume,Market Cap
CC,,,,,,,
Bitcoin,"Oct 03, 2017",4408.460000,4432.470000,4258.890000,4317.480000,"1,288,020,000","73,181,300,000"
Bitcoin,"Oct 02, 2017",4395.810000,4470.230000,4377.460000,4409.320000,"1,431,730,000","72,963,200,000"
Bitcoin,"Oct 01, 2017",4341.050000,4403.740000,4269.810000,4403.740000,"1,208,210,000","72,047,300,000"
Bitcoin,"Sep 30, 2017",4166.110000,4358.430000,4160.860000,4338.710000,"1,207,450,000","69,136,600,000"
Bitcoin,"Sep 29, 2017",4171.620000,4214.630000,4039.290000,4163.070000,"1,367,050,000","69,219,200,000"
Bitcoin,"Sep 28, 2017",4197.130000,4279.310000,4109.700000,4174.730000,"1,712,320,000","69,633,200,000"
Bitcoin,"Sep 27, 2017",3892.940000,4210.050000,3884.820000,4200.670000,"1,686,880,000","64,579,200,000"
Bitcoin,"Sep 26, 2017",3928.410000,3969.890000,3869.900000,3892.350000,"1,043,740,000","65,161,000,000"
Bitcoin,"Sep 25, 2017",3681.580000,3950.250000,3681.580000,3926.070000,"1,374,210,000","61,061,100,000"
Bitcoin,"Sep 24, 2017",3796.150000,3796.150000,3666.900000,3682.840000,"768,015,000","62,954,300,000"
Bitcoin,"Sep 23, 2017",3629.920000,3819.210000,3594.580000,3792.400000,"928,114,000","60,190,000,000"
Bitcoin,"Sep 22, 2017",3628.020000,3758.270000,3553.530000,3630.700000,"1,194,830,000","60,152,300,000"
Bitcoin,"Sep 21, 2017",3901.470000,3916.420000,3613.630000,3631.040000,"1,411,480,000","64,677,600,000"
Bitcoin,"Sep 20, 2017",3916.360000,4031.390000,3857.730000,3905.950000,"1,213,830,000","64,918,500,000"
Bitcoin,"Sep 19, 2017",4073.790000,4094.070000,3868.870000,3924.970000,"1,563,980,000","67,520,300,000"
Bitcoin,"Sep 18, 2017",3591.090000,4079.230000,3591.090000,4065.200000,"1,943,210,000","59,514,100,000"
Bitcoin,"Sep 17, 2017",3606.280000,3664.810000,3445.640000,3582.880000,"1,239,150,000","59,757,800,000"
Bitcoin,"Sep 16, 2017",3637.750000,3808.840000,3487.790000,3625.040000,"1,818,400,000","60,271,600,000"
Bitcoin,"Sep 15, 2017",3166.300000,3733.450000,2946.620000,3637.520000,"4,148,070,000","52,453,500,000"
Bitcoin,"Sep 14, 2017",3875.370000,3920.600000,3153.860000,3154.950000,"2,716,310,000","64,191,600,000"
Bitcoin,"Sep 13, 2017",4131.980000,4131.980000,3789.920000,3882.590000,"2,219,410,000","68,432,200,000"
Bitcoin,"Sep 12, 2017",4168.880000,4344.650000,4085.220000,4130.810000,"1,864,530,000","69,033,400,000"
Bitcoin,"Sep 11, 2017",4122.470000,4261.670000,4099.400000,4161.270000,"1,557,330,000","68,256,000,000"
Bitcoin,"Sep 10, 2017",4229.340000,4245.440000,3951.040000,4122.940000,"1,679,090,000","70,018,100,000"
Bitcoin,"Sep 09, 2017",4229.810000,4308.820000,4114.110000,4226.060000,"1,386,230,000","70,017,200,000"
Bitcoin,"Sep 08, 2017",4605.160000,4661.000000,4075.180000,4228.750000,"2,700,890,000","76,220,200,000"
Bitcoin,"Sep 07, 2017",4589.140000,4655.040000,4491.330000,4599.880000,"1,844,620,000","75,945,000,000"
Bitcoin,"Sep 06, 2017",4376.590000,4617.250000,4376.590000,4597.120000,"2,172,100,000","72,418,700,000"
Bitcoin,"Sep 05, 2017",4228.290000,4427.840000,3998.110000,4376.530000,"2,697,970,000","69,954,400,000"
Bitcoin,"Sep 04, 2017",4591.630000,4591.630000,4108.400000,4236.310000,"2,987,330,000","75,955,500,000"
...,...,...,...,...,...,...,...
Ethereum,"Sep 05, 2015",1.280000,1.340000,1.270000,1.340000,"448,453","93,402,300"
Ethereum,"Sep 04, 2015",1.260000,1.300000,1.240000,1.270000,"474,391","92,234,100"
Ethereum,"Sep 03, 2015",1.300000,1.310000,1.210000,1.260000,"702,991","94,418,700"
Ethereum,"Sep 02, 2015",1.350000,1.350000,1.260000,1.290000,"883,769","98,504,600"
Ethereum,"Sep 01, 2015",1.350000,1.390000,1.340000,1.350000,"778,862","98,617,200"
Ethereum,"Aug 31, 2015",1.320000,1.400000,1.200000,1.360000,"1,447,180","96,251,000"
Ethereum,"Aug 30, 2015",1.180000,1.370000,1.170000,1.320000,"1,337,650","86,145,900"
Ethereum,"Aug 29, 2015",1.190000,1.210000,1.150000,1.180000,"375,377","86,887,600"
Ethereum,"Aug 28, 2015",1.150000,1.210000,1.120000,1.190000,"721,872","83,521,700"
Ethereum,"Aug 27, 2015",1.170000,1.190000,1.140000,1.150000,"686,662","85,106,100"
Ethereum,"Aug 26, 2015",1.130000,1.200000,1.060000,1.160000,"1,056,750","82,384,400"
Ethereum,"Aug 25, 2015",1.230000,1.240000,1.130000,1.140000,"1,307,180","89,321,900"
Ethereum,"Aug 24, 2015",1.350000,1.360000,1.230000,1.230000,"924,920","97,791,600"
Ethereum,"Aug 23, 2015",1.380000,1.410000,1.300000,1.350000,"1,589,300","99,894,500"
Ethereum,"Aug 22, 2015",1.400000,1.480000,1.350000,1.380000,"948,310","101,404,000"
Ethereum,"Aug 21, 2015",1.480000,1.560000,1.350000,1.400000,"2,020,970","107,266,000"
Ethereum,"Aug 20, 2015",1.250000,1.530000,1.250000,1.460000,"2,843,760","90,809,000"
Ethereum,"Aug 19, 2015",1.170000,1.320000,1.170000,1.260000,"1,486,240","84,663,900"
Ethereum,"Aug 18, 2015",1.220000,1.330000,1.090000,1.090000,"1,485,680","88,143,200"
Ethereum,"Aug 17, 2015",1.580000,1.580000,1.190000,1.200000,"1,942,830","95,819,700"
Ethereum,"Aug 16, 2015",1.680000,1.700000,1.090000,1.570000,"3,550,790","102,028,000"
Ethereum,"Aug 15, 2015",1.800000,1.880000,1.570000,1.690000,"2,554,360","109,160,000"
Ethereum,"Aug 14, 2015",1.810000,2.260000,1.750000,1.830000,"4,637,030","109,594,000"
Ethereum,"Aug 13, 2015",1.220000,1.970000,1.170000,1.830000,"4,068,680","73,935,400"
Ethereum,"Aug 12, 2015",1.060000,1.290000,0.883608,1.220000,"2,150,620","64,018,400"
Ethereum,"Aug 11, 2015",0.708087,1.130000,0.663235,1.070000,"1,463,100","42,796,500"
Ethereum,"Aug 10, 2015",0.713989,0.729854,0.636546,0.708448,"405,283","43,130,000"
Ethereum,"Aug 09, 2015",0.706136,0.879810,0.629191,0.701897,"532,170","42,637,600"
Ethereum,"Aug 08, 2015",2.790000,2.800000,0.714725,0.753325,"674,188","167,911,000"
Ethereum,"Aug 07, 2015",2.830000,3.540000,2.520000,2.770000,"164,329",-

### Crypto Currency Means

In [17]:
master_df.groupby('CC').mean()

                Open        High         Low       Close
CC
Bitcoin   716.325031  736.272765  696.893778  718.804210
Ethereum   68.758298   71.660280   65.790691   69.098058
Litecoin    9.302488    9.737444    8.843586    9.330123
Monero     10.668743   11.325722   10.091139   10.740487

In [18]:
master_df.groupby('CC').describe().transpose()

CC               Bitcoin    Ethereum     Litecoin       Monero
Open  count  1620.000000  824.000000  1620.000000  1231.000000
      mean    716.325031   68.758298     9.302488    10.668743
      std     841.566485  112.338764    13.103364    22.366494
      min      68.500000    0.431589     1.150000     0.220121
      25%     261.080000    6.387500     3.070000     0.514239
      50%     448.150000   11.390000     3.845000     1.380000
      75%     705.347500   49.925000     8.675000     9.380000
      max    4901.420000  397.590000    85.830000   144.240000
High  count  1620.000000  824.000000  1620.000000  1231.000000
      mean    736.272765   71.660280     9.737444    11.325722
      std     870.749477  116.531656    13.847245    23.724047
      min      74.560000    0.482988     1.340000     0.251757
      25%     266.462500    6.642500     3.120000     0.542731
      50%     454.645000   11.695000     3.910000     1.500000
      75%     724.555000   51.090000     9.262500     9.810000
      max    4975.040000  414.760000    92.070000   154.580000
Low   count  1620.000000  824.000000  1620.000000  1231.000000
      mean    696.893778   65.790691     8.843586    10.091139
      std     812.844163  107.616355    12.272203    21.023287
      min      65.530000    0.420897     1.110000     0.212967
      25%     255.740000    6.032500     2.990000     0.494739
      50%     442.785000   11.080000     3.790000     1.240000
      75%     688.002500   48.217500     8.435000     8.980000
      max    4678.530000  383.470000    75.590000   136.490000
Close count  1620.000000  824.000000  1620.000000  1231.000000
      mean    718.804210   69.098058     9.330123    10.740487
      std     846.165337  112.587105    13.145707    22.491004
      min      68.430000    0.434829     1.160000     0.223522
      25%     261.412500    6.460000     3.060000     0.513035
      50%     448.190000   11.390000     3.840000     1.390000
      75%     705.280000   50.032500     8.712500     9.430000
      max    4892.010000  401.490000    86.040000   145.400000