### Monero Data

In [5]:
import numpy as np
import pandas as pd

In [6]:
monero_df = pd.read_csv('/Users/newuser/Dropbox/Datamining/Crypto-Pirates/Datasets/monero_price.csv')
new_index = btc_df['Date']
monero_df.head()

           Date   Open   High    Low  Close      Volume     Market Cap
0  Oct 03, 2017  91.52  94.81  87.21  92.96  44,289,800  1,387,960,000
1  Oct 02, 2017  93.56  93.80  90.98  91.54  27,534,700  1,418,400,000
2  Oct 01, 2017  95.59  95.74  91.77  93.22  25,936,500  1,448,800,000
3  Sep 30, 2017  94.44  96.33  94.07  95.76  28,498,000  1,430,900,000
4  Sep 29, 2017  97.30  97.78  91.22  94.50  38,972,400  1,473,750,000

### Adding Daily Range Column

In [7]:
monero_df['Daily Range'] = monero_df['High'] - monero_df['Low']
monero_df.head()

,Date,Open,High,Low,Close,Volume,Market Cap,Daily Range
0,"Oct 03, 2017",91.52,94.81,87.21,92.96,"44,289,800","1,387,960,000",7.60
1,"Oct 02, 2017",93.56,93.80,90.98,91.54,"27,534,700","1,418,400,000",2.82
2,"Oct 01, 2017",95.59,95.74,91.77,93.22,"25,936,500","1,448,800,000",3.97
3,"Sep 30, 2017",94.44,96.33,94.07,95.76,"28,498,000","1,430,900,000",2.26
4,"Sep 29, 2017",97.30,97.78,91.22,94.50,"38,972,400","1,473,750,000",6.56

### Monero Daily Range Mean